.schedule-add {
  max-width: 1400px;
  flex-grow: 1;
  color: #2f2f2f;
  margin: 50px 16px 279px 300px;
  font-family: 'Montserrat';

  @media only screen and (max-width: 1000px) {
    margin: 70px 16px 50px 16px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 450px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: #2f2f2f;
  }

  &__item {
    margin-top: 45px;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;

    @media only screen and (max-width: 930px) {
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }

  &__popover {
    width: max-content;
    border: none;
    background: white;
    transition: all 0.2s;

    &:hover svg {
      stroke: #ff8a00;
    }

    svg {
      transition: all 0.2s;
      stroke: black;
    }
  }

  &__sub-title {
    width: 215px;
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;

    @media only screen and (max-width: 450px) {
      font-size: 20px;
      font-weight: 700;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 730px;
    @media only screen and (max-width: 930px) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__field {
    position: relative;
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    gap: 7px;

    label,
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #282828;
    }
    input[type='text'],
    textarea {
      width: auto;
      height: 35px;
      padding-left: 16px;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #2f2f2f;
      border: 1px solid #2f2f2f;
      transition: all 0.2s ease-in-out;

      &:focus {
        box-shadow: 0px 0px 5px 1px rgba(255, 136, 0, 0.25);
        border: 1px solid #ff8a00;
      }

      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #2f2f2f;
      }
    }

    [type='radio']:checked,
    [type='radio']:not(:checked) {
      position: absolute;
      left: -9999px;
    }
    [type='radio']:checked + label,
    [type='radio']:not(:checked) + label {
      position: relative;
      padding-left: 28px;
      font-weight: 400;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #282828;
    }
    [type='radio']:checked + label:before,
    [type='radio']:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #707070;
      border-radius: 100%;
      background: #fff;
    }
    [type='radio']:checked + label:after,
    [type='radio']:not(:checked) + label:after {
      content: '';
      width: 18px;
      height: 18px;
      border: 5px solid #707070;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 100%;
      transition: all 0.2s ease;
    }
    [type='radio']:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    [type='radio']:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    textarea {
      height: 202px;
      padding: 8px 16px;
      @media only screen and (max-width: 820px) {
        height: 100px;
      }
    }
  }

  &__branch-field {
    max-width: 540px;
  }

  &__dropdown-button {
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    background: #ffffff;
    border: 1px solid #2f2f2f;
    transition: all 0.2s;

    &.dropdown-opened {
      border: none;
      border-radius: 10px 10px 0px 0px;
      box-shadow: 0px -2px 10px -3px rgba(0, 0, 0, 0.25);

      .schedule-add__dropdown-menu {
        width: 100%;
        box-shadow: 0 0 5px #333;
        transition: all 0.2s ease-in-out;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.25);
        overflow-y: scroll;
        height: 200px;
        opacity: 1;
      }
    }
  }

  &__dropdown-txt {
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2f2f2f;
    @media only screen and (max-width: 390px) {
      font-size: 14px;
    }
  }

  &__dropdown-menu {
    height: 0;
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 200;

    span {
      width: 100%;
      padding: 5px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #2f2f2f;
      background-color: #fff;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: #ff8a00;
        color: #fff;
      }
    }
  }

  &__add-btn {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1);
    }
  }

  &__date-add {
    position: absolute;
    top: 2px;
    right: -55px;
  }

  &__radio-group {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__toggle {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }

  &__input-group {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__remove {
    width: 23px;
    height: 23px;
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1);
    }
  }
}
