mixin day(date,day,month)
  .schedule-booking-week__day(data-month = month)
    .schedule-booking-week__day-top
      p=date
      span=day    
    .schedule-booking-week__day-content
      .schedule-booking-week__day-item
        p.schedule-booking-week__day-hour 00:00 - 01:00
        p.schedule-booking-week__day-price 1 100 (+200) грн.

      .schedule-booking-week__day-item
        p.schedule-booking-week__day-hour 01:00 - 02:00
        p.schedule-booking-week__day-price 1 100 (+200) грн.

      .schedule-booking-week__day-item
        p.schedule-booking-week__day-hour 03:00 - 04:00
        p.schedule-booking-week__day-price 1 100 (+200) грн.

      .schedule-booking-week__day-item  
        p.schedule-booking-week__day-hour 05:00 - 06:00
        p.schedule-booking-week__day-price 1 100 (+200) грн.
      
      .schedule-booking-week__day-item
        p.schedule-booking-week__day-hour 07:00 - 08:00
        p.schedule-booking-week__day-price 1 100 (+200) грн.

      .schedule-booking-week__day-item
        p.schedule-booking-week__day-hour 09:00 - 10:00
        p.schedule-booking-week__day-price 1 100 (+200) грн. 
      
      .schedule-booking-week__day-item
        p.schedule-booking-week__day-hour 11:00 - 12:00
        p.schedule-booking-week__day-price 1 100 (+200) грн. 

      .schedule-booking-week__day-item
        p.schedule-booking-week__day-hour 13:00 - 14:00
        p.schedule-booking-week__day-price 1 100 (+200) грн. 

      .schedule-booking-week__day-item
        p.schedule-booking-week__day-hour 15:00 - 16:00
        p.schedule-booking-week__day-price 1 100 (+200) грн. 

      .schedule-booking-week__day-item
        p.schedule-booking-week__day-hour 17:00 - 18:00
        p.schedule-booking-week__day-price 1 100 (+200) грн. 

      .schedule-booking-week__day-item
        p.schedule-booking-week__day-hour 19:00 - 20:00
        p.schedule-booking-week__day-price 1 100 (+200) грн. 

      .schedule-booking-week__day-item
        p.schedule-booking-week__day-hour 21:00 - 22:00
        p.schedule-booking-week__day-price 1 100 (+200) грн. 

      .schedule-booking-week__day-item
        p.schedule-booking-week__day-hour 23:00 - 24:00               
        p.schedule-booking-week__day-price 1 100 (+200) грн.

.schedule-booking-week
    .schedule-booking-week__top
      h1.schedule-booking-week__title Расписание
      .schedule-booking-week__btn-group         
        a.schedule-booking-week__btn(href="schedule-add.html") Добавить запись 
          span +


    .schedule-booking-week__panel
      .schedule-booking-week__toggle-group
        a.schedule-booking-week__toggle-day(href="#") День
        a.schedule-booking-week__toggle-week(href="#") Неделя
        a.schedule-booking-week__toggle-month.active-toggle(href="#") Месяц

      .schedule-booking-week__nav
        a.schedule-booking-week__nav-arrow(href="#")        
          <svg  viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.4401 25.3324C18.2409 25.3331 18.0441 25.2891 17.8641 25.2037C17.6841 25.1184 17.5255 24.9938 17.4001 24.8391L10.9601 16.8391C10.7639 16.6005 10.6567 16.3012 10.6567 15.9924C10.6567 15.6836 10.7639 15.3843 10.9601 15.1457L17.6267 7.14573C17.853 6.87344 18.1783 6.70221 18.5308 6.6697C18.8834 6.6372 19.2344 6.74608 19.5067 6.9724C19.779 7.19872 19.9502 7.52393 19.9828 7.8765C20.0153 8.22907 19.9064 8.58011 19.6801 8.8524L13.7201 15.9991L19.4801 23.1457C19.6431 23.3414 19.7467 23.5798 19.7785 23.8325C19.8103 24.0852 19.7691 24.3418 19.6597 24.5718C19.5503 24.8019 19.3773 24.9958 19.1612 25.1305C18.945 25.2653 18.6948 25.3354 18.4401 25.3324Z"/>
          </svg>
        .schedule-booking-week__picker
          .schedule-booking-week__nav-text(data-month = '')  
            p.schedule-booking-week__nav-month Июнь
            p.schedule-booking-week__nav-year 2022
          input#data-picker(type="text") 

        a.schedule-booking-week__nav-arrow(href="#")  
          <svg  viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.5599 25.3324C13.7591 25.3331 13.9559 25.2891 14.1359 25.2037C14.3159 25.1184 14.4745 24.9938 14.5999 24.8391L21.0399 16.8391C21.2361 16.6005 21.3433 16.3012 21.3433 15.9924C21.3433 15.6836 21.2361 15.3843 21.0399 15.1457L14.3733 7.14573C14.147 6.87344 13.8217 6.70221 13.4692 6.6697C13.1166 6.6372 12.7656 6.74608 12.4933 6.9724C12.221 7.19872 12.0498 7.52393 12.0172 7.8765C11.9847 8.22907 12.0936 8.58011 12.3199 8.8524L18.2799 15.9991L12.5199 23.1457C12.3569 23.3414 12.2533 23.5798 12.2215 23.8325C12.1897 24.0852 12.2309 24.3418 12.3403 24.5718C12.4497 24.8019 12.6227 24.9958 12.8388 25.1305C13.055 25.2653 13.3052 25.3354 13.5599 25.3324Z"/>
          </svg>

      a.schedule-booking-week__link(href="#")
        p Баня Емеля, сруб Кедровый
        <svg viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.41645 11.0179C5.4159 11.1797 5.45162 11.3396 5.52098 11.4858C5.59035 11.6321 5.69159 11.7609 5.81728 11.8629L12.3173 17.0954C12.5111 17.2547 12.7543 17.3418 13.0052 17.3418C13.2561 17.3418 13.4993 17.2547 13.6931 17.0954L20.1931 11.6787C20.4144 11.4948 20.5535 11.2306 20.5799 10.9441C20.6063 10.6576 20.5178 10.3724 20.3339 10.1512C20.1501 9.92995 19.8858 9.79082 19.5994 9.76441C19.3129 9.738 19.0277 9.82647 18.8064 10.0104L12.9998 14.8529L7.19312 10.1729C7.0341 10.0404 6.84046 9.95623 6.63512 9.93036C6.42977 9.90449 6.22131 9.93798 6.03441 10.0269C5.8475 10.1158 5.68998 10.2563 5.58046 10.432C5.47095 10.6076 5.41403 10.8109 5.41645 11.0179Z"/>
        </svg>

    .schedule-booking-week__calendar
      .schedule-booking-week__calendar-top
        p Понедельник
        p Вторник
        p Среда
        p Четверг
        p Пятница
        p Суббота
        p Воскресенье

      .schedule-booking-week__calendar-content

        +day('28.11','Понедельник',11)

        .schedule-booking-week__day(data-month = 11)
          .schedule-booking-week__day-top
            p 29.11
            span Вторник    
          .schedule-booking-week__day-content
            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 00:00 - 01:00
              p.schedule-booking-week__day-price 1 100 (+200) грн.
            .schedule-booking-week__day-booked
              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 01:00 - 02:00
                p.schedule-booking-week__day-number  +380501234567

              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 03:00 - 04:00
                span.schedule-booking-week__day-modal(data-bs-toggle="modal" data-bs-target="#modalBooked") Бронь

              .schedule-booking-week__day-item  
                p.schedule-booking-week__day-hour 05:00 - 06:00
                p.schedule-booking-week__day-price 
            .schedule-booking-week__day-booked
              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 07:00 - 08:00
                p.schedule-booking-week__day-number  +380501234567

              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 09:00 - 10:00
                span.schedule-booking-week__day-modal(data-bs-toggle="modal" data-bs-target="#modalBooked2") Бронь
              
              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 11:00 - 12:00                

            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 13:00 - 14:00
              p.schedule-booking-week__day-price 1 100 (+200) грн. 

            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 15:00 - 16:00
              p.schedule-booking-week__day-price 1 100 (+200) грн. 

            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 17:00 - 18:00
              p.schedule-booking-week__day-price 1 100 (+200) грн. 

            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 19:00 - 20:00
              p.schedule-booking-week__day-price 1 100 (+200) грн. 

            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 21:00 - 22:00
              p.schedule-booking-week__day-price 1 100 (+200) грн.

            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 23:00 - 24:00
              p.schedule-booking-week__day-price 1 100 (+200) грн. 
        
        .schedule-booking-week__day(data-month = 12)
          .schedule-booking-week__day-top
            p 30.12
            span Среда    
          .schedule-booking-week__day-content
            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 00:00 - 01:00
              p.schedule-booking-week__day-price 1 100 (+200) грн.

            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 01:00 - 02:00
              p.schedule-booking-week__day-price 1 100 (+200) грн.

            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 03:00 - 04:00
              p.schedule-booking-week__day-price 1 100 (+200) грн.

            .schedule-booking-week__day-item  
              p.schedule-booking-week__day-hour 05:00 - 06:00
              p.schedule-booking-week__day-price 1 100 (+200) грн.
            
            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 07:00 - 08:00
              p.schedule-booking-week__day-price 1 100 (+200) грн.

            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 09:00 - 10:00
              p.schedule-booking-week__day-price 1 100 (+200) грн. 
            
            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 11:00 - 12:00
              p.schedule-booking-week__day-price 1 100 (+200) грн. 

            .schedule-booking-week__day-withdrawn 

              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 13:00 - 14:00
               

              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 15:00 - 16:00
                p.schedule-booking-week__day-off  Снято с продажи

              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 17:00 - 18:00
                

            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 19:00 - 20:00
              p.schedule-booking-week__day-price 1 100 (+200) грн. 

            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 21:00 - 22:00
              p.schedule-booking-week__day-price 1 100 (+200) грн. 

            .schedule-booking-week__day-item
              p.schedule-booking-week__day-hour 23:00 - 24:00               
              p.schedule-booking-week__day-price 1 100 (+200) грн.
        +day('1.12','Четверг',12)
        +day('2.12','Пятница',12)
        +day('3.12','Суббота',12)
        
        .schedule-booking-week__day(data-month = 12)
          .schedule-booking-week__day-top
            p 4.12
            span Воскресенье    
          .schedule-booking-week__day-content
            .schedule-booking-week__day-withdrawn 
              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 00:00 - 01:00                

              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 01:00 - 02:00               

              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 03:00 - 04:00             

              .schedule-booking-week__day-item  
                p.schedule-booking-week__day-hour 05:00 - 06:00
                           
              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 07:00 - 08:00
           
              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 09:00 - 10:00
                      
              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 11:00 - 12:00
                p.schedule-booking-week__day-off  Снято с продажи 

              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 13:00 - 14:00
                
              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 15:00 - 16:00
                

              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 17:00 - 18:00                

              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 19:00 - 20:00     

              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 21:00 - 22:00          

              .schedule-booking-week__day-item
                p.schedule-booking-week__day-hour 23:00 - 24:00

#modalBooked.modal.fade(tabindex='-1' aria-labelledby='modalBookedLabel' aria-hidden='true')
  .modal-dialog.schedule-booking-week__modal-dialog
    .modal-content      
      .modal-body.schedule-booking-week__modal
        .schedule-booking-week__modal-item         
          span Клиент
          p Петров Иван
        
        .schedule-booking-week__modal-item         
          span Контактный тел
          p +38 067 123-23-23

        .schedule-booking-week__modal-item         
          span Контактный тел
          p +38 067 123-23-23

        .schedule-booking-week__modal-item         
          span Дата / Время
          p 31 мая 2021 / 01:00 - 02:00

        .schedule-booking-week__modal-item         
          span Человек
          p 10
        
        .schedule-booking-week__modal-bottom

          a.schedule-booking-week__modal-link(href="#") Бронь 

          a.schedule-booking-week__modal-edit(href="#")
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_538_26)">
              <rect width="40" height="40" rx="4" fill="#2F2F2F"/>
              <path d="M27.222 28.6654H11.3331V12.7765H20.8809L22.3253 11.332H11.3331C10.95 11.332 10.5826 11.4842 10.3117 11.7551C10.0409 12.026 9.88867 12.3934 9.88867 12.7765V28.6654C9.88867 29.0485 10.0409 29.4159 10.3117 29.6867C10.5826 29.9576 10.95 30.1098 11.3331 30.1098H27.222C27.6051 30.1098 27.9725 29.9576 28.2434 29.6867C28.5143 29.4159 28.6664 29.0485 28.6664 28.6654V17.832L27.222 19.2765V28.6654Z" fill="white"/>
              <path d="M31.2163 11.217L28.7824 8.7831C28.6744 8.67479 28.546 8.58886 28.4048 8.53022C28.2635 8.47159 28.112 8.44141 27.959 8.44141C27.8061 8.44141 27.6546 8.47159 27.5133 8.53022C27.3721 8.58886 27.2437 8.67479 27.1357 8.7831L17.234 18.7425L16.4324 22.2164C16.3982 22.3848 16.4018 22.5587 16.4429 22.7255C16.484 22.8924 16.5615 23.048 16.6699 23.1813C16.7784 23.3146 16.915 23.4222 17.07 23.4964C17.225 23.5706 17.3945 23.6095 17.5663 23.6103C17.6551 23.6201 17.7447 23.6201 17.8335 23.6103L21.3363 22.8375L31.2163 12.8637C31.3246 12.7556 31.4105 12.6273 31.4692 12.486C31.5278 12.3448 31.558 12.1933 31.558 12.0403C31.558 11.8874 31.5278 11.7359 31.4692 11.5946C31.4105 11.4533 31.3246 11.325 31.2163 11.217ZM20.5852 21.5014L17.9418 22.0864L18.5557 19.4648L26.009 11.9609L28.0457 13.9975L20.5852 21.5014ZM28.8618 13.1814L26.8252 11.1448L27.9446 10.0037L29.9957 12.0548L28.8618 13.1814Z" fill="white"/>
              </g>
              <defs>
              <clipPath id="clip0_538_26">
              <rect width="40" height="40" fill="white"/>
              </clipPath>
              </defs>
            </svg>

#modalBooked2.modal.fade(tabindex='-1' aria-labelledby='modalBooked2Label' aria-hidden='true')
  .modal-dialog.schedule-booking-week__modal-dialog
    .modal-content      
      .modal-body.schedule-booking-week__modal
        .schedule-booking-week__modal-item         
          span Клиент
          p Петров Иван-2
        
        .schedule-booking-week__modal-item         
          span Контактный тел-2
          p +38 067 123-23-23

        .schedule-booking-week__modal-item         
          span Контактный тел-2
          p +38 067 123-23-23

        .schedule-booking-week__modal-item         
          span Дата / Время-2
          p 31 мая 2021 / 01:00 - 02:00

        .schedule-booking-week__modal-item         
          span Человек-2
          p 10
        
        .schedule-booking-week__modal-bottom

          a.schedule-booking-week__modal-link(href="#") Бронь 

          a.schedule-booking-week__modal-edit(href="#")
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_538_26)">
              <rect width="40" height="40" rx="4" fill="#2F2F2F"/>
              <path d="M27.222 28.6654H11.3331V12.7765H20.8809L22.3253 11.332H11.3331C10.95 11.332 10.5826 11.4842 10.3117 11.7551C10.0409 12.026 9.88867 12.3934 9.88867 12.7765V28.6654C9.88867 29.0485 10.0409 29.4159 10.3117 29.6867C10.5826 29.9576 10.95 30.1098 11.3331 30.1098H27.222C27.6051 30.1098 27.9725 29.9576 28.2434 29.6867C28.5143 29.4159 28.6664 29.0485 28.6664 28.6654V17.832L27.222 19.2765V28.6654Z" fill="white"/>
              <path d="M31.2163 11.217L28.7824 8.7831C28.6744 8.67479 28.546 8.58886 28.4048 8.53022C28.2635 8.47159 28.112 8.44141 27.959 8.44141C27.8061 8.44141 27.6546 8.47159 27.5133 8.53022C27.3721 8.58886 27.2437 8.67479 27.1357 8.7831L17.234 18.7425L16.4324 22.2164C16.3982 22.3848 16.4018 22.5587 16.4429 22.7255C16.484 22.8924 16.5615 23.048 16.6699 23.1813C16.7784 23.3146 16.915 23.4222 17.07 23.4964C17.225 23.5706 17.3945 23.6095 17.5663 23.6103C17.6551 23.6201 17.7447 23.6201 17.8335 23.6103L21.3363 22.8375L31.2163 12.8637C31.3246 12.7556 31.4105 12.6273 31.4692 12.486C31.5278 12.3448 31.558 12.1933 31.558 12.0403C31.558 11.8874 31.5278 11.7359 31.4692 11.5946C31.4105 11.4533 31.3246 11.325 31.2163 11.217ZM20.5852 21.5014L17.9418 22.0864L18.5557 19.4648L26.009 11.9609L28.0457 13.9975L20.5852 21.5014ZM28.8618 13.1814L26.8252 11.1448L27.9446 10.0037L29.9957 12.0548L28.8618 13.1814Z" fill="white"/>
              </g>
              <defs>
              <clipPath id="clip0_538_26">
              <rect width="40" height="40" fill="white"/>
              </clipPath>
              </defs>
            </svg>