section.booking
  .booking__inner 

    h2.booking__title Платформа для бронирования предложений саун и банных комплексов

    a.booking__btn(data-bs-toggle="modal" href="#bookingRegister" role="button") Добавить объект отдыха

  #bookingRegister.modal.fade(tabindex='-1' aria-labelledby='bookingRegisterLabel' aria-hidden='true')
    .modal-dialog.booking__modal-dialog
      .modal-content.booking__modal-content 
        .modal-header.booking__modal-header
          button.modal-close-btn(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")    
        .modal-body.booking__modal-body 

          .form
            h3.form__title Создайте аккаунта партнера

            p.form__text-top Аккаунт партнера необходим для управления и настройками вашего объекта предоставления услуг

            .form__field 

              label(for="connection-mail") Почта

              input(type="email" id="connection-mail" placeholder='example@example.com')        

            button.form__btn-main(data-bs-target='#bookingSingUp' data-bs-toggle='modal')  Зарегистрироваться

            button.form__btn-log(data-bs-target='#bookingLogIn' data-bs-toggle='modal')  Войти

            p.form__text-bottom Входя в аккаунт или создавая новый, вы соглашаетесь с нашими Правилами и условиями и Положением о конфиденциальности



#bookingSingUp.modal.fade(aria-hidden='true' aria-labelledby='bookingSingUpLabel' tabindex='-1')
    .modal-dialog.booking__modal-dialog
      .modal-content.booking__modal-content  
        .modal-header.booking__modal-header
          button.modal-close-btn(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")    
        .modal-body.booking__modal-body         
          .form
            h3.form__title Контактные данные

            p.form__text-top Укажите контактную информацию для завершения регистрации вашего кабинета

            .form__field 

              label(for="company") Компания

              input(type="text" id="company" placeholder='Название компании')        

            .form__field 

              label(for="telephone") Мобильный телефон

              input(type="text" id="telephone" placeholder='+38 067 123-23-23 ')        

            button.form__btn-main(data-bs-target='#bookingSingUp2' data-bs-toggle='modal')  Далее            

            p.form__text-bottom Входя в аккаунт или создавая новый, вы соглашаетесь с нашими Правилами и условиями и Положением о конфиденциальности


#bookingSingUp2.modal.fade(aria-hidden='true' aria-labelledby='bookingSingUpLabel2' tabindex='-1')
  .modal-dialog.booking__modal-dialog
    .modal-content.booking__modal-content  
      .modal-header.booking__modal-header
        button.modal-close-btn(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")    
      .modal-body.booking__modal-body         
        .form
          h3.form__title Создание пароля

          p.form__text-top Длина пароля не менее 10 символов (заглавные и строчные буквы и цифры)

          .form__field 

            label(for="userPassword") Пароль

            input(id="userPassword" type="password" placeholder='**********')        

          .form__field 

            label(for="userPassword2") Введите пароль еще раз

            input(id="userPassword2" type="password" placeholder='**********')        

          button.form__btn-main(data-bs-target='#bookingSingUp4' data-bs-toggle='modal')  Создать аккаунт            

          p.form__text-bottom Входя в аккаунт или создавая новый, вы соглашаетесь с нашими Правилами и условиями и Положением о конфиденциальности

#bookingLogIn.modal.fade(aria-hidden='true' aria-labelledby='bookingLogInLabel' tabindex='-1')
  .modal-dialog.booking__modal-dialog
    .modal-content.booking__modal-content  
      .modal-header.booking__modal-header
        button.modal-close-btn(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")    
      .modal-body.booking__modal-body         
        .form
          h3.form__title Войдите в аккаунт, чтобы управлять бронированиями

          p.form__text-top Аккаунт партнера необходим для управления и настройками вашего объекта предоставления услуг

          .form__field 

            label(for="login") Логин / Почта

            input(id="login" type="password" placeholder='ID партнера или почта')        

          .form__field 

            label(for="userPassword") Пароль

            input(id="userPassword" type="password" placeholder='**********')        

          button.form__btn-main(data-bs-target='#bookingLogIn' data-bs-toggle='modal')  Войти

          a.form__restore-password(href="#" data-bs-target='#RestorePassword' data-bs-toggle='modal') Забыли пароль?

          button.form__btn-log(data-bs-target='#bookingSingUp' data-bs-toggle='modal')  Зарегистрироваться           

          p.form__text-bottom Входя в аккаунт или создавая новый, вы соглашаетесь с нашими Правилами и условиями и Положением о конфиденциальности


#RestorePassword.modal.fade(aria-hidden='true' aria-labelledby='RestorePasswordLabel' tabindex='-1')
  .modal-dialog.booking__modal-dialog
    .modal-content.booking__modal-content  
      .modal-header.booking__modal-header
        button.modal-close-btn(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")    
      .modal-body.booking__modal-body         
        .form
          h3.form__title Забыли пароль?

          p.form__text-top Подтвердите имя пользователя, и мы пришлем вам ссылку на смену пароля.

          .form__field 

            label(for="login") Логин / Почта

            input(id="login" type="password" placeholder='ID партнера или почта')      

          button.form__btn-main(data-bs-target='#RestorePassword2' data-bs-toggle='modal')  Отправить ссылку для смены пароля
