header.header 
  nav.header__navigation
    .header__left
      img.header__logo(src="../../../img/header/logo.svg", alt="logo")
      .header__location
        img(src="../../../img/header/location.svg", alt="location")
        a.header__link(href="#") Киев
      a.header__link(href="#") Поиск бани
    .header__right

      a.header__link(href="#") Разместить баню

      img.header__hurt(src="../../../img/header/hurt.svg", alt="hurt")

      button.header__button(type='button')
        img(src="../../../img/header/account-circle.svg", alt="account")
        img(src="../../../img/header/menu.svg", alt="menu")
        