header.header 
  nav.header__navigation
    .header__left
      img.header__logo(src="img/header/logo.svg", alt="logo")
      img.header__logo-min(src="img/header/logo-min.svg", alt="logo-min")
      .header__location
        img(src="img/header/location.svg", alt="location")
        a(href="#") Киев

      a.header__search(href="#")
        p Поиск бани
        p Поиск
        img(src="img/header/search.svg", alt="search")  
      
    .header__right

      a.header__link(href="#") Разместить баню

      img.header__hurt(src="img/header/hurt.svg", alt="hurt")

      button.header__button(type='button')
        img(src="img/header/account-circle.svg", alt="account")
        img(src="img/header/menu.svg", alt="menu")
        