section.booking

  .booking__top
    p Ваш заказ

    a(href="#") Редактировать

  .booking__item-group

    .booking__item
      p Дата бронирования
      span 9 июля 2021

    .booking__item
      p Время
      span 20:00 -23:00

    .booking__item
      p Гости
      span 8 человек
