.company-photos {
  max-width: 1300px;
  flex-grow: 1;
  color: #2f2f2f;
  margin: 50px 16px 279px 300px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media only screen and (max-width: 1000px) {
    margin: 70px 16px 50px 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
  }

  &__text {
    max-width: 730px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
  }

  &__uploading-group {
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    background: #ffffff;
    border: 1px dashed #b3b3b3;
    border-radius: 8px;
  }

  &__uploading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    background: #ffffff;
    border: 1px dashed #b3b3b3;
    border-radius: 10px;
    box-sizing: border-box;

    input {
      visibility: hidden;
      width: 0;
      height: 0;
    }
    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 130px;
      height: 130px;
      border-radius: 10px;
      cursor: pointer;
      box-sizing: border-box;
      transition: all 0.2s ease-in-out;

      &:hover {
        box-shadow: 0px 0px 4px 1px #34343442;
      }
    }
    h3 {
      display: block;
      width: 95px;
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: #2f2f2f;
    }

    img {
      display: block;
      object-fit: cover;
    }
  }

  &__gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__image {
    position: relative;
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0px 0px 4px 1px #34343486;
    img {
      width: 130px;
      height: 130px;
      object-fit: cover;
      border-radius: 10px;
    }
    svg {
      width: 26px;
      height: 26px;
      display: block;
      position: absolute;
      top: 5px;
      right: 5px;
      fill: #000000;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        fill: #ff8a00;
      }
    }
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 36px;
    color: #2f2f2f;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #000000;
      color: #fff;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.draggable {
  cursor: move;
  &.is-dragging {
    opacity: 0.5;
  }
}
