.company-photos

  h1.company-photos__title Основное описание / Фотографии объекта

  .company-photos__text 

    p.dragme Загрузите фотографии, которые будут размещены на вашей персональной странице. В данном разделе загружаются фото, которые относятся к банному комплексу в целом (не важно в каком отделении они были сделаны)

    p Для публикации объявления нужно хотя бы одно 3 фото, весь вото не менее 50Кб. Перетаскивая изображения, расставьте их в нужном порядке. Отредактировать фото или добавить новые можно позже 

  .company-photos__uploading-group

    .company-photos__gallery      

    .company-photos__uploading
      label(for='photos-upload') 
        img(src='img/COMPANY/download.svg' alt='some')
        h3 Загрузить фото
      input#photos-upload.file(name='file' type='file' multiple)
    

    
  a(href="company.html").company-photos__back Назад