section.offers 
  
  .offers__top
    h2.offers__title Акции и спецпредложения

    a.offers__link(href="#") Все варианты 

  .offers__card-list

    include ../../components/card-item/card-item
    include ../../components/card-item/card-item
    include ../../components/card-item/card-item
    include ../../components/card-item/card-item

  a.popular__link-350(href="#") Все варианты

  .popular__slider

    include ../../components/slider/slider

    +slider-offer()
