section.offers 
  
  .offers__top
    h2.offers__title Акции и спецпредложения

    a.offers__link(href="#") Все варианты 

  .offers__card-list

    .card-item
      img.card-item__img(src="img/png/pic-5.png" alt="pic")
      a.card-item__like(href="#", title="like")
        img(src="img/card/like.svg" alt="like")

      .card-item__content
        h4.card-item__title Сауна Аквамарин

        .card-item__address
          p ул. Волинська 10
          p Оболонский район

        .card-item__btn-group 
          button.card-item__left-btn(type="button")
            img(src="img/card/star.svg" alt="star")
            p 4.5

          button.card-item__right-btn(type="button") от 1 000 грн.


    .card-item
      img.card-item__img(src="img/png/pic-6.png" alt="pic")
      a.card-item__like(href="#", title="like")
        img(src="img/card/like.svg" alt="like")

      .card-item__content
        h4.card-item__title Сауна Аквамарин

        .card-item__address
          p ул. Волинська 10
          p Оболонский район

        .card-item__btn-group 
          button.card-item__left-btn(type="button")
            img(src="img/card/star.svg" alt="star")
            p 4.5

          button.card-item__right-btn(type="button") от 1 000 грн.


    .card-item
      img.card-item__img(src="img/png/pic-7.png" alt="pic")
      a.card-item__like(href="#", title="like")
        img(src="img/card/like.svg" alt="like")

      .card-item__content
        h4.card-item__title Сауна Аквамарин

        .card-item__address
          p ул. Волинська 10
          p Оболонский район

        .card-item__btn-group 
          button.card-item__left-btn(type="button")
            img(src="img/card/star.svg" alt="star")
            p 4.5

          button.card-item__right-btn(type="button") от 1 000 грн.


    .card-item
      img.card-item__img(src="img/png/pic-8.png" alt="pic")
      a.card-item__like(href="#", title="like")
        img(src="img/card/like.svg" alt="like")

      .card-item__content
        h4.card-item__title Сауна Аквамарин

        .card-item__address
          p ул. Волинська 10
          p Оболонский район

        .card-item__btn-group 
          button.card-item__left-btn(type="button")
            img(src="img/card/star.svg" alt="star")
            p 4.5

          button.card-item__right-btn(type="button") от 1 000 грн.