.mini-card

  .mini-card__items-group 

    .mini-card__item
      img(src="img/SAUNA/icon/square.svg", alt="icon")
      p 6 залов

    .mini-card__item
      img(src="img/SAUNA/icon/people.svg", alt="icon")
      p 10-15 человек

    .mini-card__item
      img(src="img/SAUNA/icon/heating.svg", alt="icon")
      p Турецкая, Хамам, Финская, С веником

    .mini-card__item
      img(src="img/SAUNA/icon/time.svg", alt="icon")
      p C 10:00 - 24:00

  p.mini-card__text от <span>1 500</span>грн./час

  button.mini-card__button(type='button') Забронировать
