.card-detail {
  max-width: 350px;
  position: relative;
  width: auto;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 10px 10px;
  padding-bottom: 25px;

  @media only screen and (max-width: 1050px) {
    max-width: 600px;
    margin: auto;
  }

  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.271);
  }

  &__img {
    display: block;
    width: 100%;
    height: 201px;
    border-radius: 10px 10px 0px 0px;
  }

  &__like {
    position: absolute;
    top: 17px;
    right: 16px;
    svg {
      fill: #2f2f2f;
      stroke: white;
      transition: all 0.2s;
      &:hover {
        fill: #ff8a00;
        stroke: white;
      }
    }
  }

  &__content {
    padding-top: 20px;
    padding-left: 15px;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
  }
  &__address {
    margin-top: 26px;
    line-height: 120%;
  }

  &__btn-group {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    font-weight: 500;
    font-size: 12px;
  }

  &__left-btn {
    width: 59px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
    border: 1px solid #2f2f2f;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    transition: all 0.3s;

    svg {
      transition: all 0.3s;
      fill: #ff8a00;
    }
    p {
      transition: all 0.3s;
    }
    &:hover {
      background: #ff8a00;
      border: 1px solid #ff8a00;
    }

    &:hover p {
      color: white;
    }
    &:hover svg {
      fill: white;
    }
  }

  &__right-btn {
    width: 97px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2f2f2f;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    transition: all 0.3s;
    &:hover {
      background: #ff8a00;
      border: 1px solid #ff8a00;
      color: white;
    }
  }
}
