.stock-set 
  .stock-set__top
    h1.stock-set__title Акции и спецпредложения / Общие настройки

    .stock-set__switch
      label.switch
        input(type='checkbox' checked)
        span.slider.round
      p Публикация акции


  .stock-set__item

    h3.stock-set__sub-title Название акции

      button.stock-set__popover(type='button' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p> С понедельника по пятницу с 9:00 до 17:00 - 3 часа отдыха: </p> <span> 700 грн. в усадьбе, </span>  <span> 800 грн. в срубе </span>" )
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_634_20661)">
          <path d="M10 5V6.25M10 8.75V14.375V8.75Z"  stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
          <clipPath id="clip0_634_20661">
          <rect width="20" height="20" fill="white"/>
          </clipPath>
          </defs>
        </svg>

    .stock-set__content

      .stock-set__field        
        input(id="stock-name" name="stock-name" type="text" placeholder="Название")

  .stock-set__item

    h3.stock-set__sub-title Описание акции

      button.stock-set__popover(type='button' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p> С понедельника по пятницу с 9:00 до 17:00 - 3 часа отдыха: </p> <span> 700 грн. в усадьбе, </span>  <span> 800 грн. в срубе </span>" )
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_634_20661)">
          <path d="M10 5V6.25M10 8.75V14.375V8.75Z"  stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
          <clipPath id="clip0_634_20661">
          <rect width="20" height="20" fill="white"/>
          </clipPath>
          </defs>
        </svg>

    .stock-set__content

      .stock-set__field        
        textarea(id="stock-textarea" name="stock-textarea" type="text" placeholder="Введите краткое описание акции")

      .stock-set__field
        p Настройте параметры для работы акции.<br>
          | Важно! В акции должны быть только количественные  и временные характеристики для расчета акции.<br>
          | Без любых дополнительных условий, таких как: "Приведи друзей...", "Забронируй и получи скидку на следующий", "Купи 5 веников и получишь скидку" и т.д. , т.к подобные условия невозможно реализовать на нашем сайте.

  .stock-set__item
    h3.stock-set__sub-title Выберите тип <br> спецпредложения

      button.stock-set__popover(type='button' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p> С понедельника по пятницу с 9:00 до 17:00 - 3 часа отдыха: </p> <span> 700 грн. в усадьбе, </span>  <span> 800 грн. в срубе </span>" )
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_634_20661)">
          <path d="M10 5V6.25M10 8.75V14.375V8.75Z"  stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
          <clipPath id="clip0_634_20661">
          <rect width="20" height="20" fill="white"/>
          </clipPath>
          </defs>
        </svg>

    .stock-set__content

      .stock-set__field

        .stock-set__radio-wrap
          input.stock-set__radio-offer(type="radio", id="discount" checked name="special-offer" value="cкидка в % или грн")
          label(for="discount") Скидка в % или грн

        .stock-set__radio-wrap
          input.stock-set__radio-offer(type="radio", id="gift" name="special-offer" value="часы отдыха в подарок")
          label(for="gift") Часы отдыха в подарок

        .stock-set__radio-wrap
          input.stock-set__radio-offer(type="radio", id="hourly-rate" name="special-offer" value="цена за час")
          label(for="hourly-rate") Акционный тариф (цена за час)

        .stock-set__radio-wrap
          input.stock-set__radio-offer(type="radio", id="package-rate" name="special-offer" value="цена за пакет часов")
          label(for="package-rate") Акционный тариф (цена за пакет часов)
  
  .stock-set__item

    h3.stock-set__sub-title Условия акции

      button.stock-set__popover(type='button' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p> С понедельника по пятницу с 9:00 до 17:00 - 3 часа отдыха: </p> <span> 700 грн. в усадьбе, </span>  <span> 800 грн. в срубе </span>" )
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_634_20661)">
          <path d="M10 5V6.25M10 8.75V14.375V8.75Z"  stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
          <clipPath id="clip0_634_20661">
          <rect width="20" height="20" fill="white"/>
          </clipPath>
          </defs>
        </svg>

    .stock-set__content

      .stock-set__field

        .stock-set__term

          .stock-set__term-left            
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.7375 19.2617L15 13.5367L9.2625 19.2617L7.5 17.4992L15 9.99922L22.5 17.4992L20.7375 19.2617Z" />
            </svg>
            p.stock-set__dynamic-text Условие 1 (скидка в % или грн)

          .stock-set__term-right
            a.stock-set__term-copy(href="#")
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.6001 7.79961V2.59961H6.5001L2.6001 6.49961V18.1996H10.4001V23.3996H23.4001V7.79961H15.6001ZM6.5001 4.43781V6.49961H4.4383L6.5001 4.43781ZM3.9001 16.8996V7.79961H7.8001V3.89961H14.3001V7.79961L10.4001 11.6996V16.8996H3.9001ZM14.3001 9.63781V11.6996H12.2383L14.3001 9.63781ZM22.1001 22.0996H11.7001V12.9996H15.6001V9.09961H22.1001V22.0996Z"/>
              </svg>

            a.stock-set__term-delete(href="#")
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="13" cy="13" r="11.3"  stroke-width="1.4"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9505 8.88994C9.65761 8.59705 9.18274 8.59705 8.88984 8.88994C8.59695 9.18284 8.59695 9.65771 8.88984 9.9506L11.9392 13L8.88984 16.0494C8.59695 16.3423 8.59695 16.8172 8.88984 17.1101C9.18274 17.403 9.65761 17.403 9.9505 17.1101L12.9999 14.0607L16.0493 17.1101C16.3422 17.403 16.8171 17.403 17.11 17.1101C17.4029 16.8172 17.4029 16.3423 17.11 16.0494L14.0606 13L17.11 9.9506C17.4029 9.65771 17.4029 9.18284 17.11 8.88994C16.8171 8.59705 16.3422 8.59705 16.0493 8.88994L12.9999 11.9393L9.9505 8.88994Z" fill="#B3B3B3"/>
              </svg>

  .stock-set__item
    h3.stock-set__sub-title

    .stock-set__content

      .stock-set__discount-content.stock-set__dynamic-content

        .stock-set__field
          label(for="discount-field") Скидка
          input(type="text" id="discount-field")

        .stock-set__field.stock-set__discount
          .stock-set__radio-wrap
            input.stock-set__radio-discount(type="radio", id="discount-%" name="discount")
            label(for="discount-%") Скидка в %

          .stock-set__radio-wrap
            input.stock-set__radio-discount(type="radio", id="amount" name="discount" )
            label(for="amount") Сумма

      .stock-set__gift-content.stock-set__dynamic-content

        .stock-set__field
          label(for="reservable-hours") Бронируемых часов
          input(type="text" id="reservable-hours")

        .stock-set__field
          label(for="free-hours") Бесплатных часов
          input(type="text" id="free-hours")

      .stock-set__hourly-content.stock-set__dynamic-content
        .stock-set__field
          label(for="hourly") Цена за час (грн.)
          input(type="text" id="hourly")

      .stock-set__package-content.stock-set__dynamic-content
        .stock-set__field
          label(for="package-price") Цена пакет часов (грн.)
          input(type="text" id="package-price")

        .stock-set__field
          label(for="hours-package") Часов в пакете
          input(type="text" id="hours-package")


      .stock-set__line

      .stock-set__field
        p Филиал 
        button.stock-set__dropdown-button( id="dropdown-item" type='button' onclick="this.classList.toggle('dropdown-opened')")
          p.stock-set__dropdown-txt Все филиалы

          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.175 7.1582L10 10.9749L13.825 7.1582L15 8.3332L10 13.3332L5 8.3332L6.175 7.1582Z" fill="#2F2F2F"/>
          </svg>
          
          .stock-set__dropdown-menu(id="menu-branches")
            span.stock-set__dropdown-item(data-branches="some-branches") Все филиалы-1
            span.stock-set__dropdown-item(data-branches="some-branches") Все филиалы-2
            span.stock-set__dropdown-item(data-branches="some-branches") Все филиалы-3
            span.stock-set__dropdown-item(data-branches="some-branches") Все филиалы-4
            span.stock-set__dropdown-item(data-branches="some-branches") Все филиалы-5
            span.stock-set__dropdown-item(data-branches="some-branches") Все филиалы-6
            span.stock-set__dropdown-item(data-branches="some-branches") Все филиалы-7
            span.stock-set__dropdown-item(data-branches="some-branches") Все филиалы-8
            span.stock-set__dropdown-item(data-branches="some-branches") Все филиалы-9
            span.stock-set__dropdown-item(data-branches="some-branches") Все филиалы-10

      .stock-set__line

      .stock-set__date
        .stock-set__date-top
          p Период действия (даты)
          <svg class="stock-set__date-add" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="16.9999" cy="17" r="11.3" transform="rotate(-45 16.9999 17)" fill="#2F2F2F" stroke="#2F2F2F" stroke-width="1.4"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9373 16.25C11.523 16.25 11.1873 16.5858 11.1873 17C11.1873 17.4142 11.523 17.75 11.9373 17.75H16.2498V22.0625C16.2498 22.4767 16.5855 22.8125 16.9998 22.8125C17.414 22.8125 17.7498 22.4767 17.7498 22.0625V17.75H22.0623C22.4765 17.75 22.8123 17.4142 22.8123 17C22.8123 16.5858 22.4765 16.25 22.0623 16.25H17.7498V11.9375C17.7498 11.5233 17.414 11.1875 16.9998 11.1875C16.5855 11.1875 16.2498 11.5233 16.2498 11.9375V16.25H11.9373Z" fill="white"/>
          </svg>

        .stock-set__date-content
          .stock-set__field          
            button.stock-set__dropdown-button( id="dropdown-item" type='button' onclick="this.classList.toggle('dropdown-opened')")
              p.stock-set__dropdown-txt 21.06.21-18.07.21 (пн, вт, сб,вс)

              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.175 7.1582L10 10.9749L13.825 7.1582L15 8.3332L10 13.3332L5 8.3332L6.175 7.1582Z" fill="#2F2F2F"/>
              </svg>
              
              .stock-set__dropdown-menu(id="menu-branches")
                span.stock-set__dropdown-item(data-branches="some-branches") 21.06.21-18.07.21 (пн, вт, сб,вс)-1
                span.stock-set__dropdown-item(data-branches="some-branches") 21.06.21-18.07.21 (пн, вт, сб,вс)-2
                span.stock-set__dropdown-item(data-branches="some-branches") 21.06.21-18.07.21 (пн, вт, сб,вс)-3
                span.stock-set__dropdown-item(data-branches="some-branches") 21.06.21-18.07.21 (пн, вт, сб,вс)-4
                span.stock-set__dropdown-item(data-branches="some-branches") 21.06.21-18.07.21 (пн, вт, сб,вс)-5
                span.stock-set__dropdown-item(data-branches="some-branches") 21.06.21-18.07.21 (пн, вт, сб,вс)-6
                span.stock-set__dropdown-item(data-branches="some-branches") 21.06.21-18.07.21 (пн, вт, сб,вс)-7
                span.stock-set__dropdown-item(data-branches="some-branches") 21.06.21-18.07.21 (пн, вт, сб,вс)-8
                span.stock-set__dropdown-item(data-branches="some-branches") 21.06.21-18.07.21 (пн, вт, сб,вс)-9
                span.stock-set__dropdown-item(data-branches="some-branches") 21.06.21-18.07.21 (пн, вт, сб,вс)-10

      .stock-set__duration-content

        .stock-set__field
          p Время действия (часы)

        .stock-set__field.stock-set__duration
          .stock-set__radio-wrap
            input.stock-set__radio-discount(type="radio", id="visit-time" name="duration")
            label(for="visit-time") Время визита

          .stock-set__radio-wrap
            input.stock-set__radio-discount(type="radio", id="booking-time" name="duration")
            label(for="booking-time") Время бронирования

      .stock-set__range-content
        
    
      .stock-set__line

      