.side-bar {
  flex-shrink: 0;
  margin-top: 30px;
  padding: 20px 15px 26px 15px;
  width: 255px;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  transition: all 0.2s;
  color: #282828;

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
  }

  &__txt {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
  }

  &__data-picker {
    margin-top: 29px;
    position: relative;
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
    }

    input {
      margin-top: 5px;
      width: 100%;
      height: 36px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      padding-left: 40px;
      background: #ffffff;
      border: 1px solid #2f2f2f;
      box-sizing: border-box;
      transition: all 0.2s;

      &:focus {
        border: 3px solid #2f80ed;
      }
    }
    img {
      display: block;
      position: absolute;
      bottom: 6px;
      left: 10px;
    }
  }

  &__range-group {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: all 0.2s;
  }

  &__input-group {
    margin-top: 10px;
    display: flex;
    transition: all 0.2s;

    input {
      padding-left: 10px;
      width: 100%;
      height: 36px;
      border: 1px solid #2f2f2f;
      font-weight: 400;
      font-size: 16px;
      transition: all 0.2s;
    }

    .side-bar__value-min {
      border-right-color: #2f2f2f;

      &:focus {
        border: 3px solid #2f80ed;
      }
    }

    .side-bar__value-max {
      border-left-color: #2f2f2f;

      &:focus {
        border: 3px solid #2f80ed;
      }
    }
  }

  &__range-item {
    width: calc(100% - 20px);
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  &__search {
    position: relative;
    margin-top: 30px;

    input {
      margin-top: 4px;
      width: 100%;
      height: 36px;
      padding-left: 10px;
      border: 1px solid #2f2f2f;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      transition: all 0.2s;

      &:focus {
        border: 3px solid #2f80ed;
      }
    }
  }

  &__location {
    width: 100%;
    margin-top: 47px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11.25px;
    width: 100%;
    height: 36px;
    margin-top: 9px;
    background: #2f2f2f;

    transition: all 0.2s;
    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      color: #ffffff;
    }

    &:hover {
      box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.65);
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &__block-checkboxes {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    transition: all 0.2s;
  }

  &__checkbox-group {
    position: relative;
    transition: all 0.2s;

    .side-bar__line {
      bottom: -25px;
      left: -15px;
      width: 255px;
    }
  }
  &__checkbox-inner {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: height 0.3s ease-out;
    overflow: hidden;
  }

  .height-auto {
    height: auto;
    transition: height 0.3s ease-in;
  }

  &__checkbox-item {
    position: relative;
    display: flex;
    height: max-content;
    align-items: center;
    gap: 15px;
    transition: all 0.2s;

    label {
      font-weight: 500;
      font-size: 14px;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        color: #ff8a00;
      }
    }

    input {
      width: 18px;
      height: 18px;
      margin-top: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      border: 1px solid #2f2f2f;
      outline: none;
      transition-duration: 0.3s;
      font-size: 14px;
      cursor: pointer;

      &:checked {
        border: 1px solid #2f2f2f;
        background-color: #2f2f2f;
        font-size: 14px;
      }

      &:checked + label::before {
        display: block;
        left: 5px;
        top: 2px;
        font-weight: 700;
        content: '\2713';
        text-align: center;
        color: #ffffff;
        position: absolute;
        font-size: 14px;
      }
    }
  }
  &__btn-capacity {
    margin-top: 21px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.2s;

    svg {
      transition: all 0.2s;
      fill: #2f2f2f;
    }
    p {
      transition: all 0.2s;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
    }
    &:hover p {
      color: #ff8a00;
    }

    &:hover svg {
      fill: #ff8a00;
    }
  }
}

// range UI------------------
.noUi-horizontal {
  height: 4px;
  border: none;
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  right: -10px;
  top: -8px;
  border-radius: 100%;
  cursor: pointer;
  background: #fff;
  border: 4px solid #707070;
  box-sizing: border-box;

  &:active {
    background: #c4c4c4;
  }
}

.noUi-connect {
  background: #707070;
}
