section.share 
  .share__top
    h4 На ваше бронирование применимы акции
    p Обращаем ваше внимание что скидки не суммируются, возможно выбрать только одну акцию

  .share__item-group

    .share__item
      .share__left
        p Каждый 3-й час в подарок

        button.share__left-btn(type='button' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p> С понедельника по пятницу с 9:00 до 17:00 - 3 часа отдыха: </p> <span> 700 грн. в усадьбе, </span>  <span> 800 грн. в срубе </span>" )
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_634_20661)">
            <path d="M10 5V6.25M10 8.75V14.375V8.75Z"  stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_634_20661">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>

      .share__right

        p.share__hidden-text Применено

        button.share__button(type='button') Применить

    .share__item
      .share__left
        p Тариф «Счастливые часы»

        button.share__left-btn(type='button' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p> С понедельника по пятницу с 9:00 до 17:00 - 3 часа отдыха: </p> <span> 700 грн. в усадьбе, </span>  <span> 800 грн. в срубе </span>" )
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_634_20661)">
            <path d="M10 5V6.25M10 8.75V14.375V8.75Z"  stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z"  stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_634_20661">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>

      .share__right

        p.share__hidden-text Применено

        button.share__button(type='button') Применить

    .share__item
      .share__left
        p Тариф «-10% именнинику»

        button.share__left-btn(type='button' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p> С понедельника по пятницу с 9:00 до 17:00 - 3 часа отдыха: </p> <span> 700 грн. в усадьбе, </span>  <span> 800 грн. в срубе </span>")
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_634_20661)">
            <path d="M10 5V6.25M10 8.75V14.375V8.75Z" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_634_20661">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>

      .share__right

        p.share__hidden-text Применено

        button.share__button(type='button') Применить