.company-features

  h1.company-features__title Описание / Характеристики


  .company-features__item

    
    h3.company-features__sub-title Описание объекта

    .company-features__content

      .company-features__field

        label(for="textarea-features") 

        textarea(id="textarea-features" placeholder="Введите описание")