.sauna {
  margin: 70px auto 0 auto;
  max-width: 1100px;

  a {
    color: #2f2f2f;
    text-decoration: none;
  }

  &__big-card {
    padding-top: 54px;
    padding-bottom: 15px;
    @media only screen and (max-width: 470px) {
      padding-top: 15px;
    }
  }

  &__line {
    margin-top: 40px;
    display: block;
    width: 100%;
    height: 1px;
    background: #b3b3b3;
  }

  &__booking {
    margin-top: 40px;
  }
  &__booking-button {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: #2f2f2f;
    transition: all 0.2s;

    @media only screen and (max-width: 500px) {
      flex-direction: column;
      width: max-content;
      margin: auto;
    }

    &:hover {
      color: #ff8a00;
    }
    &:hover svg {
      fill: #ff8a00;
    }
    span {
      margin-left: 10px;
      margin-right: 6px;
      text-decoration: underline;
    }
    svg {
      fill: #2f2f2f;
      transition: all 0.2s;
    }
  }
  &__booking-content {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__reviews {
    margin-top: 70px;
  }

  &__map {
    margin-top: 40px;
  }
  &__map-title {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: black;
  }

  &__watched {
    margin-top: 80px;
    margin-bottom: 92px;
  }
  &__watched-title {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: #2f2f2f;
  }
}

.to-scroll {
  position: relative;
  width: 0;
  height: 0;

  #booking,
  #reviews,
  #location-sauna,
  #description-sauna,
  #gallery-sauna {
    position: absolute;
    top: -65px;
  }
}
