.partners {
  display: block;
  max-width: 1489px;
  height: 442px;
  background-image: url(../img/png/partners.webp);
  background-size: cover;
  margin: 158px auto 0 auto;

  @media only screen and (max-width: 1150px) {
    max-width: 731px;
    height: 332px;
    margin-top: 74px;
    background-image: url(../img/png/partners-920.webp);
    background-size: cover;
  }

  @media only screen and (max-width: 950px) {
    margin: 74px 95px 0 95px;
    max-width: 100%;
    background-position: center right;
  }
  @media only screen and (max-width: 670px) {
    height: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../img/png/partners-350.webp);
    background-position: 100% 0;
  }
  @media only screen and (max-width: 670px) {
    margin-top: 30px;
  }

  &__inner {
    max-width: 649px;
    padding-top: 73px;
    padding-left: 131px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #ffffff;
    @media only screen and (max-width: 1150px) {
      max-width: 389px;
      padding-top: 60px;
      padding-left: 36px;
    }

    @media only screen and (max-width: 950px) {
      width: 100%;
      padding-top: 60px;
      padding-left: 36px;
    }
  }

  &__title {
    width: 649px;
    font-weight: 700;
    font-size: 45px;
    line-height: 130%;

    @media only screen and (max-width: 1150px) {
      width: 389px;
      font-size: 32px;
    }
    @media only screen and (max-width: 830px) {
      width: 250px;
      font-size: 22px;
    }
    @media only screen and (max-width: 670px) {
      margin-top: 320px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;

    @media only screen and (max-width: 1150px) {
      width: 323px;
    }

    @media only screen and (max-width: 830px) {
      width: 255px;
      font-size: 16px;
    }
  }
}
