.account {
  margin: 80px auto 0 auto;
  padding: 0 16px;
  max-width: 1111px;
  box-sizing: border-box;

  &__router {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__router-item {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    text-decoration: none;
    color: #2f2f2f;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #ff8a00;
    }
  }

  &__title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #2f2f2f;
  }

  &__card-group {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 1150px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__card {
    max-width: 350px;
    padding: 15px 15px 25px 15px;
    display: flex;
    gap: 15px;
    background: #f2f2f2;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.1),
        0px 2px 10px rgba(0, 0, 0, 0.2);
    }
  }

  &__card-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;

    img {
      width: 40px;
      height: 40px;
      display: block;
      border-radius: 100%;
      object-position: cover;
    }
  }

  &__card-right {
    margin-top: 10px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: black;
  }

  &__card-text {
    height: 85px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #2f2f2f;
  }

  &__card-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #2f2f2f;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #ff8a00;
    }
  }
}
