.account-paid {
  font-family: 'Montserrat';
  margin: 80px auto 0 auto;
  padding: 0 16px;
  max-width: 1111px;
  box-sizing: border-box;

  &__router {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__router-item {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    text-decoration: none;
    color: #2f2f2f;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #ff8a00;
    }
  }

  &__title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #2f2f2f;
  }

  &__content {
    width: 100%;
    margin-top: 40px;
    display: flex;
    gap: 30px;
    justify-content: space-between;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__card-group {
    max-width: 635px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 800px) {
      width: 100%;
    }
  }

  &__card {
    padding: 25px 0 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #2f2f2f;
  }

  &__card-info {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #2f2f2f;
  }

  &__card-link {
    width: 105px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-decoration: none;
    color: #2f2f2f;
    border: 2px solid #ffffff00;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #2f2f2f;
      border-color: #2f80ed;
    }
  }

  &__card-line {
    width: 100%;
    height: 1px;
    background-color: #b3b3b3;
  }

  &__side-bar {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  &__nav-item {
    height: 60px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: #f2f2f2;
      color: #000;
    }
  }

  &__nav-current {
    background: #f2f2f2;
  }

  &__nav-line {
    width: calc(100% - 10px);
    height: 1px;
    margin: auto;
    background-color: #b3b3b3;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
  }
}
