main.order

  .order__left

    .order__booking 
      include ../booking/booking
    .order__line

    .order__share
      include ../share/share
    .order__line
      
    .order__form
      include ../form/form
    .order__line

    .order__policy-pay
      include ../policy-pay/policy-pay

  .order__right

    .order__card-detail