header.header 
  nav.header__navigation
    .header__left
      a(href="index.html") 
        img.header__logo(src="img/header/logo.svg", alt="logo")
      img.header__logo-min(src="img/header/logo-min.svg", alt="logo-min")
      .header__location
        <svg width="27" height="27" viewBox="0 0 27 27"  xmlns="http://www.w3.org/2000/svg">
          <path d="M13.5376 4.32788C17.5586 4.32788 20.8179 7.58721 20.8179 11.6082C20.8179 14.6846 18.6562 18.0372 14.3889 21.702C14.1516 21.9059 13.849 22.0178 13.5362 22.0175C13.2234 22.0173 12.9211 21.9048 12.6841 21.7005L12.4019 21.4556C8.32343 17.8864 6.25732 14.6159 6.25732 11.6082C6.25732 7.58721 9.51666 4.32788 13.5376 4.32788ZM13.5376 8.80806C12.795 8.80806 12.0828 9.10307 11.5576 9.6282C11.0325 10.1533 10.7375 10.8655 10.7375 11.6082C10.7375 12.3508 11.0325 13.063 11.5576 13.5882C12.0828 14.1133 12.795 14.4083 13.5376 14.4083C14.2803 14.4083 14.9925 14.1133 15.5176 13.5882C16.0427 13.063 16.3377 12.3508 16.3377 11.6082C16.3377 10.8655 16.0427 10.1533 15.5176 9.6282C14.9925 9.10307 14.2803 8.80806 13.5376 8.80806Z" />
        </svg>
        a(href="#") Киев

      a.header__search(href="search.html")
        p Поиск бани
        p Поиск
        img(src="img/header/search.svg", alt="search")  
      
    .header__right

      a.header__link(href="#") Разместить баню

      
      <svg class="header__hurt" width="25" height="25" viewBox="0 0 25 25"  xmlns="http://www.w3.org/2000/svg">
        <path d="M11.7469 5.16475L12.5 6.02678L13.2531 5.16475C14.0083 4.30027 14.7014 3.62075 15.5318 3.14594C16.3436 2.68176 17.3437 2.38184 18.75 2.38184C20.0874 2.38184 21.3571 2.82255 22.3035 3.87442C23.2587 4.93612 24 6.74922 24 9.7168C24 10.9906 23.3403 13.1276 21.4656 15.6274C19.674 18.0164 16.8096 20.6834 12.5 23.1535C8.19035 20.6834 5.32596 18.0164 3.5344 15.6274C1.65969 13.1276 1 10.9906 1 9.7168C1 6.74922 1.74129 4.93612 2.69652 3.87442C3.6429 2.82255 4.91262 2.38184 6.25 2.38184C7.65628 2.38184 8.65641 2.68176 9.46823 3.14594C10.2986 3.62075 10.9917 4.30027 11.7469 5.16475Z"  stroke-width="2"/>
      </svg>


      button.header__button(type='button')
        <svg width="30" height="30" viewBox="0 0 30 30"  xmlns="http://www.w3.org/2000/svg">
          <path d="M15.5 2C8.6 2 3 7.6 3 14.5C3 21.4 8.6 27 15.5 27C22.4 27 28 21.4 28 14.5C28 7.6 22.4 2 15.5 2ZM15.5 7C17.9125 7 19.875 8.9625 19.875 11.375C19.875 13.7875 17.9125 15.75 15.5 15.75C13.0875 15.75 11.125 13.7875 11.125 11.375C11.125 8.9625 13.0875 7 15.5 7ZM15.5 24.5C12.9625 24.5 9.9625 23.475 7.825 20.9C10.0145 19.1821 12.717 18.2485 15.5 18.2485C18.283 18.2485 20.9855 19.1821 23.175 20.9C21.0375 23.475 18.0375 24.5 15.5 24.5Z" />
        </svg>
        div.header__modal-btn(data-bs-toggle="modal" data-bs-target="#modalHeaderSauna")
          <svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 7.5C4.5 7.10218 4.65804 6.72064 4.93934 6.43934C5.22064 6.15804 5.60218 6 6 6H24C24.3978 6 24.7794 6.15804 25.0607 6.43934C25.342 6.72064 25.5 7.10218 25.5 7.5C25.5 7.89782 25.342 8.27936 25.0607 8.56066C24.7794 8.84196 24.3978 9 24 9H6C5.60218 9 5.22064 8.84196 4.93934 8.56066C4.65804 8.27936 4.5 7.89782 4.5 7.5Z" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 15C4.5 14.6022 4.65804 14.2206 4.93934 13.9393C5.22064 13.658 5.60218 13.5 6 13.5H24C24.3978 13.5 24.7794 13.658 25.0607 13.9393C25.342 14.2206 25.5 14.6022 25.5 15C25.5 15.3978 25.342 15.7794 25.0607 16.0607C24.7794 16.342 24.3978 16.5 24 16.5H6C5.60218 16.5 5.22064 16.342 4.93934 16.0607C4.65804 15.7794 4.5 15.3978 4.5 15Z" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 22.5C4.5 22.1022 4.65804 21.7206 4.93934 21.4393C5.22064 21.158 5.60218 21 6 21H24C24.3978 21 24.7794 21.158 25.0607 21.4393C25.342 21.7206 25.5 22.1022 25.5 22.5C25.5 22.8978 25.342 23.2794 25.0607 23.5607C24.7794 23.842 24.3978 24 24 24H6C5.60218 24 5.22064 23.842 4.93934 23.5607C4.65804 23.2794 4.5 22.8978 4.5 22.5Z" />
          </svg>
        

#modalHeaderSauna.modal.fade(tabindex='-1' aria-labelledby='modalHeaderSaunaLabel' aria-hidden='true')
  .modal-dialog
    .modal-content      
      .modal-body.header__modal
        a.header__modal-link(href="#") Настройки аккаунта
        a.header__modal-link(href="#") Бронирования
        a.header__modal-link(href="#") Уведомления (1)
        a.header__modal-link(href="#") Мои отзывы
        a.header__modal-link(href="#") Мои подборки
        a.header__modal-link(href="#") Выйти