.schedule-month {
  max-width: 1585px;
  flex-grow: 1;
  color: #2f2f2f;
  margin: 50px 16px 279px 300px;
  font-family: 'Montserrat';

  @media only screen and (max-width: 1000px) {
    margin: 70px 16px 50px 16px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 450px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: #2f2f2f;
  }

  &__btn-group {
    display: flex;
    gap: 20px;
    align-items: center;

    @media only screen and (max-width: 650px) {
      flex-direction: column;
    }
  }

  &__btn {
    width: 196px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
    background: #707070;
    transition: all 0.2s ease-in-out;

    span {
      margin-left: 10px;
      font-size: 30px;
      font-weight: 400;
    }

    &:hover {
      background: #2f2f2f;
      color: #ffffff;
    }
  }

  &__panel {
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 750px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__toggle-group {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #2f2f2f;
  }

  &__toggle-left {
    width: 82px;
    height: 37px;
    border: 1px solid #b3b3b3;
    border-radius: 4px 0px 0px 4px;
    border-right: none;
    background-color: #ffffff;
    transition: all 0.1s ease;

    &.active-toggle {
      background: #f2f2f2;
      border: 3px solid #2f80ed;
      transition: all 0.1s ease;

      & + .schedule__toggle-right {
        border-left: none;
        transition: all 0.1s ease;
      }
    }
  }

  &__toggle-right {
    width: 75px;
    height: 37px;
    border: 1px solid #b3b3b3;
    border-radius: 0px 4px 4px 0px;
    background-color: #ffffff;
    transition: all 0.1s ease;

    &.active-toggle {
      background: #f2f2f2;
      border: 3px solid #2f80ed;
      transition: all 0.1s ease;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    text-decoration: none;

    svg {
      width: 32px;
      height: 32px;
      fill: #000000;
      transition: all 0.2s ease-in-out;
    }

    &:hover svg {
      fill: #ff8a00;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &__nav-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #000;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #ff8a00;
    }

    svg {
      width: 26px;
      height: 26px;
      fill: #000000;
      transition: all 0.2s ease-in-out;
    }

    &:hover svg {
      fill: #ff8a00;
    }
  }

  &__calendar {
    margin-top: 38px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    padding: 10px 7px;
    @media only screen and (max-width: 1899px) {
      margin-top: 18px;
      border: none;
    }
  }

  &__calendar-top {
    display: flex;
    @media only screen and (max-width: 1899px) {
      display: none;
    }

    p {
      flex-grow: 1;
      max-width: 222px;
      text-align: center;
    }
  }

  &__calendar-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    width: 100%;

    @media only screen and (max-width: 1899px) {
      justify-content: flex-start;
    }
    @media only screen and (max-width: 730px) {
      justify-content: center;
      gap: 10px;
    }
  }

  &__day {
    max-width: 224px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #b3b3b37c;
    white-space: nowrap;
    overflow: hidden;
    @media only screen and (max-width: 1899px) {
      max-width: 230px;
    }
  }

  &__day-top {
    display: flex;
    padding: 0 4px;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    background: #f2f2f2;

    p,
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: #2f2f2f;
    }
    span {
      @media only screen and (min-width: 1900px) {
        display: none;
      }
    }
  }
  &__day-content {
    padding: 15px 0 24px 4px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    @media only screen and (max-width: 1899px) {
      padding: 15px 4px 24px 4px;
    }
  }

  &__day-item {
    display: flex;
    flex-direction: column;
    gap: 11px;

    p {
      font-weight: 400;
      font-size: 13px;
      line-height: 120%;
      color: #2f2f2f;
    }
  }

  &__day-add {
    display: flex;
    flex-direction: column;
    gap: 25px;

    p {
      text-align: center;
      font-weight: 400;
      font-size: 13px;
      line-height: 120%;
      color: black;
    }

    a {
      width: 112px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #2f2f2f;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      text-decoration: none;
      color: #fff;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #595959;
        color: #fff;
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }
}
