.schedule {
  max-width: 1550px;
  flex-grow: 1;
  color: #2f2f2f;
  margin: 50px 16px 279px 300px;
  font-family: 'Montserrat';

  @media only screen and (max-width: 1000px) {
    margin: 70px 16px 50px 16px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 450px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: #2f2f2f;
  }

  &__btn-group {
    display: flex;
    gap: 20px;
    align-items: center;

    @media only screen and (max-width: 650px) {
      flex-direction: column;
    }
  }

  &__btn {
    width: 196px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #b3b3b3;
    background: #f2f2f2;
    transition: all 0.2s ease-in-out;

    span {
      margin-left: 10px;
      font-size: 30px;
      font-weight: 400;
    }

    &:hover {
      background: #2f2f2f;
      color: #ffffff;
    }
  }

  &__toggle-group {
    margin-top: 27px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #2f2f2f;
  }

  &__toggle-left {
    width: 82px;
    height: 37px;
    border: 1px solid #b3b3b3;
    border-radius: 4px 0px 0px 4px;
    border-right: none;
    background-color: #ffffff;
    transition: all 0.1s ease;

    &.active-toggle {
      background: #f2f2f2;
      border: 3px solid #2f80ed;
      transition: all 0.1s ease;

      & + .schedule__toggle-right {
        border-left: none;
        transition: all 0.1s ease;
      }
    }
  }

  &__toggle-right {
    width: 75px;
    height: 37px;
    border: 1px solid #b3b3b3;
    border-radius: 0px 4px 4px 0px;
    background-color: #ffffff;
    transition: all 0.1s ease;

    &.active-toggle {
      background: #f2f2f2;
      border: 3px solid #2f80ed;
      transition: all 0.1s ease;
    }
  }

  &__text {
    margin-top: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
  }
}
