.schedule
    .schedule__top
      h1.schedule__title Расписание

      .schedule__btn-group 
        a.schedule__btn(href="#") Изменить стоимость
        a.schedule__btn(href="schedule-add.html") Расписание 
          span +

    .schedule__toggle-group
      button.schedule__toggle-left.active-toggle(type='button') Неделя
      button.schedule__toggle-right(type='button') Месяц

    .schedule__text
      p У вас пока нет расписания! 
      p Начните работу, нажав на кнопку Расписание + в правом углу