extends ../layouts/default

block variables
	- const title = "Features"

block links
	link(rel="stylesheet" href="styles/company-features.css")

block content

	include ../../blocks/modules/COMPANY/header/header

	main.main

		include ../../blocks/components/COMPANY/side-bar/side-bar
		include ../../blocks/modules/COMPANY/company-features/company-features

	include ../../blocks/modules/COMPANY/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/companyFeatures.js")