extends ../layouts/default

block variables
	- const title = "Order";

block links
	link(rel="stylesheet" href="styles/confirmed.css")

block content

	header.header
		.header__nav
			.header__link 
				p Оплата заказа			


	footer.footer
		.footer__inner
			p.footer__item 2022 Портал бронирования саун «Хочу в Баню»

block scripts
