extends ../layouts/default

block variables
	- const title = "schedule | month"

block links
	link(rel="stylesheet" href="styles/schedule-month.css")

block content

	include ../../blocks/modules/COMPANY/header/header

	main.main

		include ../../blocks/components/COMPANY/side-bar/side-bar
		include ../../blocks/modules/SCHEDULE/schedule-month/schedule-month
	

	include ../../blocks/modules/COMPANY/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/scheduleMonth.js")