.company-edit
  .company-edit__top
    h1.company-edit__title Дополнительные отделения, филиалы

    .company-edit__switch
      label.switch
        input(type='checkbox' checked)
        span.slider.round
      p Публикация

  .company-edit__item    
    h3.company-edit__sub-title Контакты
      button.company-edit__popover(type='button' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p> С понедельника по пятницу с 9:00 до 17:00 - 3 часа отдыха: </p> <span> 700 грн. в усадьбе, </span>  <span> 800 грн. в срубе </span>" )
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_634_20661)">
          <path d="M10 5V6.25M10 8.75V14.375V8.75Z"  stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
          <clipPath id="clip0_634_20661">
          <rect width="20" height="20" fill="white"/>
          </clipPath>
          </defs>
        </svg>

    .company-edit__content

      .company-edit__field
        label(for="establishment") Наименование заведения
        input(id="establishment" name="establishment" type="text" placeholder="Название")

      .company-edit__field
        p Город
          button.company-edit__popover(type='button' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p> С понедельника по пятницу с 9:00 до 17:00 - 3 часа отдыха: </p> <span> 700 грн. в усадьбе, </span>  <span> 800 грн. в срубе </span>" )
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_634_20661)">
              <path d="M10 5V6.25M10 8.75V14.375V8.75Z"  stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
              <clipPath id="clip0_634_20661">
              <rect width="20" height="20" fill="white"/>
              </clipPath>
              </defs>
            </svg>
        button.company-edit__dropdown-button( id="dropdown-item" type='button' onclick="this.classList.toggle('dropdown-opened')")
          p.company-edit__dropdown-txt Название город

          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.175 7.1582L10 10.9749L13.825 7.1582L15 8.3332L10 13.3332L5 8.3332L6.175 7.1582Z" fill="#2F2F2F"/>
          </svg>
          
          .company-edit__dropdown-menu(id="menu-city")
            span.company-edit__dropdown-item(data-city="some-city") Название город-1
            span.company-edit__dropdown-item(data-city="some-city") Название город-2
            span.company-edit__dropdown-item(data-city="some-city") Название город-3
            span.company-edit__dropdown-item(data-city="some-city") Название город-4
            span.company-edit__dropdown-item(data-city="some-city") Название город-5

            span.company-edit__dropdown-item(data-city="some-city") Название город-6

            span.company-edit__dropdown-item(data-city="some-city") Название город-7

            span.company-edit__dropdown-item(data-city="some-city") Название город-8

            span.company-edit__dropdown-item(data-city="some-city") Название город-9

            span.company-edit__dropdown-item(data-city="some-city") Название город-10
      
      .company-edit__field-group
        
        .company-edit__field
          p Улица
            button.company-edit__popover(type='button' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p> С понедельника по пятницу с 9:00 до 17:00 - 3 часа отдыха: </p> <span> 700 грн. в усадьбе, </span>  <span> 800 грн. в срубе </span>" )
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_634_20661)">
                <path d="M10 5V6.25M10 8.75V14.375V8.75Z"  stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_634_20661">
                <rect width="20" height="20" fill="white"/>
                </clipPath>
                </defs>
              </svg>
          button.company-edit__dropdown-button( id="dropdown-item" type='button' onclick="this.classList.toggle('dropdown-opened')")
            p.company-edit__dropdown-txt Название улицы

            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.175 7.1582L10 10.9749L13.825 7.1582L15 8.3332L10 13.3332L5 8.3332L6.175 7.1582Z" fill="#2F2F2F"/>
            </svg>
            
            .company-edit__dropdown-menu(id="menu-street")
                span.company-edit__dropdown-item(data-city="some-street") Название улицы-1
                span.company-edit__dropdown-item(data-city="some-street") Название улицы-2
                span.company-edit__dropdown-item(data-city="some-street") Название улицы-3
                span.company-edit__dropdown-item(data-city="some-street") Название улицы-4
                span.company-edit__dropdown-item(data-city="some-street") Название улицы-5
                span.company-edit__dropdown-item(data-city="some-street") Название улицы-6
                span.company-edit__dropdown-item(data-city="some-street") Название улицы-7
                span.company-edit__dropdown-item(data-city="some-street") Название улицы-8
                span.company-edit__dropdown-item(data-city="some-street") Название улицы-9
                span.company-edit__dropdown-item(data-city="some-street") Название улицы-10            

        .company-edit__field.company-edit__building
          label(for="building") Дом
          input(id="building" name="building" type="text" placeholder="Название")

      .company-edit__telephone-group
        .company-edit__telephone
            .company-edit__field
              label(for="telephone") Телефон
              input(id="telephone" name="telephone" type="text" placeholder="+38 067 123-23-23")

            button.company-edit__telephone-add(type="button")
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="12" fill="#2F2F2F"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.75 6.9375C12.75 6.52329 12.4142 6.1875 12 6.1875C11.5858 6.1875 11.25 6.52329 11.25 6.9375V11.25H6.9375C6.52329 11.25 6.1875 11.5858 6.1875 12C6.1875 12.4142 6.52329 12.75 6.9375 12.75H11.25V17.0625C11.25 17.4767 11.5858 17.8125 12 17.8125C12.4142 17.8125 12.75 17.4767 12.75 17.0625V12.75H17.0625C17.4767 12.75 17.8125 12.4142 17.8125 12C17.8125 11.5858 17.4767 11.25 17.0625 11.25H12.75V6.9375Z" />
              </svg>        

  .company-edit__item.company-edit__picker

    h3.company-edit__sub-title Время работы
      button.company-edit__popover(type='button' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p> С понедельника по пятницу с 9:00 до 17:00 - 3 часа отдыха: </p> <span> 700 грн. в усадьбе, </span>  <span> 800 грн. в срубе </span>" )
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_634_20661)">
          <path d="M10 5V6.25M10 8.75V14.375V8.75Z"  stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
          <clipPath id="clip0_634_20661">
          <rect width="20" height="20" fill="white"/>
          </clipPath>
          </defs>
        </svg>

    .company-edit__date-picker

      .company-edit__date

        .company-edit__days

          button.company-edit__day(type='button' onclick="this.classList.toggle('background-grey')" ) Пн 
          button.company-edit__day(type='button' onclick="this.classList.toggle('background-grey')") Вт
          button.company-edit__day(type='button' onclick="this.classList.toggle('background-grey')") Ср
          button.company-edit__day(type='button' onclick="this.classList.toggle('background-grey')") Чт
          button.company-edit__day(type='button' onclick="this.classList.toggle('background-grey')") Пт
          button.company-edit__day(type='button' onclick="this.classList.toggle('background-grey')") Сб
          button.company-edit__day(type='button' onclick="this.classList.toggle('background-grey')") Вс

        .company-edit__times

          .company-edit__field

            button.company-edit__dropdown-button( id="dropdown-item" type='button' onclick="this.classList.toggle('dropdown-opened')")
              p.company-edit__dropdown-txt 00:00

              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.175 7.1582L10 10.9749L13.825 7.1582L15 8.3332L10 13.3332L5 8.3332L6.175 7.1582Z" fill="#2F2F2F"/>
              </svg>
              
              .company-edit__dropdown-menu(id="menu-hour")
                span.company-edit__dropdown-item(data-hour="00:00") 00:00
                span.company-edit__dropdown-item(data-hour="01:00") 01:00
                span.company-edit__dropdown-item(data-hour="02:00") 02:00
                span.company-edit__dropdown-item(data-hour="03:00") 03:00
                span.company-edit__dropdown-item(data-hour="04:00") 04:00
                span.company-edit__dropdown-item(data-hour="05:00") 05:00
                span.company-edit__dropdown-item(data-hour="06:00") 06:00
                span.company-edit__dropdown-item(data-hour="07:00") 07:00
                span.company-edit__dropdown-item(data-hour="08:00") 08:00
                span.company-edit__dropdown-item(data-hour="09:00") 09:00
                span.company-edit__dropdown-item(data-hour="10:00") 10:00
                span.company-edit__dropdown-item(data-hour="11:00") 11:00
                span.company-edit__dropdown-item(data-hour="12:00") 12:00
                span.company-edit__dropdown-item(data-hour="13:00") 13:00
                span.company-edit__dropdown-item(data-hour="14:00") 14:00
                span.company-edit__dropdown-item(data-hour="15:00") 15:00
                span.company-edit__dropdown-item(data-hour="16:00") 16:00
                span.company-edit__dropdown-item(data-hour="17:00") 17:00
                span.company-edit__dropdown-item(data-hour="18:00") 18:00
                span.company-edit__dropdown-item(data-hour="19:00") 19:00
                span.company-edit__dropdown-item(data-hour="20:00") 20:00
                span.company-edit__dropdown-item(data-hour="21:00") 21:00
                span.company-edit__dropdown-item(data-hour="22:00") 22:00
                span.company-edit__dropdown-item(data-hour="23:00") 23:00
                span.company-edit__dropdown-item(data-hour="24:00") 24:00
          
          span.company-edit__line 

          .company-edit__field

            button.company-edit__dropdown-button( id="dropdown-item" type='button' onclick="this.classList.toggle('dropdown-opened')")
              p.company-edit__dropdown-txt 00:00

              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.175 7.1582L10 10.9749L13.825 7.1582L15 8.3332L10 13.3332L5 8.3332L6.175 7.1582Z" fill="#2F2F2F"/>
              </svg>
            
              .company-edit__dropdown-menu(id="menu-hour")
                span.company-edit__dropdown-item(data-hour="00:00") 00:00
                span.company-edit__dropdown-item(data-hour="01:00") 01:00
                span.company-edit__dropdown-item(data-hour="02:00") 02:00
                span.company-edit__dropdown-item(data-hour="03:00") 03:00
                span.company-edit__dropdown-item(data-hour="04:00") 04:00
                span.company-edit__dropdown-item(data-hour="05:00") 05:00
                span.company-edit__dropdown-item(data-hour="06:00") 06:00
                span.company-edit__dropdown-item(data-hour="07:00") 07:00
                span.company-edit__dropdown-item(data-hour="08:00") 08:00
                span.company-edit__dropdown-item(data-hour="09:00") 09:00
                span.company-edit__dropdown-item(data-hour="10:00") 10:00
                span.company-edit__dropdown-item(data-hour="11:00") 11:00
                span.company-edit__dropdown-item(data-hour="12:00") 12:00
                span.company-edit__dropdown-item(data-hour="13:00") 13:00
                span.company-edit__dropdown-item(data-hour="14:00") 14:00
                span.company-edit__dropdown-item(data-hour="15:00") 15:00
                span.company-edit__dropdown-item(data-hour="16:00") 16:00
                span.company-edit__dropdown-item(data-hour="17:00") 17:00
                span.company-edit__dropdown-item(data-hour="18:00") 18:00
                span.company-edit__dropdown-item(data-hour="19:00") 19:00
                span.company-edit__dropdown-item(data-hour="20:00") 20:00
                span.company-edit__dropdown-item(data-hour="21:00") 21:00
                span.company-edit__dropdown-item(data-hour="22:00") 22:00
                span.company-edit__dropdown-item(data-hour="23:00") 23:00
                span.company-edit__dropdown-item(data-hour="24:00") 24:00

        button.company-edit__time-add(type="button")
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="12" fill="#2F2F2F"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.75 6.9375C12.75 6.52329 12.4142 6.1875 12 6.1875C11.5858 6.1875 11.25 6.52329 11.25 6.9375V11.25H6.9375C6.52329 11.25 6.1875 11.5858 6.1875 12C6.1875 12.4142 6.52329 12.75 6.9375 12.75H11.25V17.0625C11.25 17.4767 11.5858 17.8125 12 17.8125C12.4142 17.8125 12.75 17.4767 12.75 17.0625V12.75H17.0625C17.4767 12.75 17.8125 12.4142 17.8125 12C17.8125 11.5858 17.4767 11.25 17.0625 11.25H12.75V6.9375Z" fill="white"/>
          </svg>

  .company-edit__item    
    h3.company-edit__sub-title 
      p Описание
        button.company-edit__popover(type='button' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p> С понедельника по пятницу с 9:00 до 17:00 - 3 часа отдыха: </p> <span> 700 грн. в усадьбе, </span>  <span> 800 грн. в срубе </span>" )
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_634_20661)">
            <path d="M10 5V6.25M10 8.75V14.375V8.75Z"  stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_634_20661">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>

    .company-edit__content

      .company-edit__field      
        p Описание филиала
          button.company-edit__popover(type='button' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p> С понедельника по пятницу с 9:00 до 17:00 - 3 часа отдыха: </p> <span> 700 грн. в усадьбе, </span>  <span> 800 грн. в срубе </span>" )
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_634_20661)">
              <path d="M10 5V6.25M10 8.75V14.375V8.75Z"  stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
              <clipPath id="clip0_634_20661">
              <rect width="20" height="20" fill="white"/>
              </clipPath>
              </defs>
            </svg>
        .company-edit__field
          textarea(id="textarea-features" placeholder="Введите описание")

        .company-edit__field-group

          .company-edit__field.company-edit__object
            label(for="halls") Залов (кол-во)
            input(id="halls" name="halls" type="text" placeholder="Название")

          .company-edit__field.company-edit__object
            label(for="capacity") Вместимость (чел)
            input(id="capacity" name="capacity" type="text" placeholder="Название")


  .company-edit__item
    h3.company-edit__sub-title 
      p Тип парной
        button.company-edit__popover(type='button' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p> С понедельника по пятницу с 9:00 до 17:00 - 3 часа отдыха: </p> <span> 700 грн. в усадьбе, </span>  <span> 800 грн. в срубе </span>" )
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_634_20661)">
            <path d="M10 5V6.25M10 8.75V14.375V8.75Z"  stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_634_20661">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>

    .company-edit__content

      .company-edit__checkbox-wrapper
        .company-edit__checkbox-group
          .company-edit__checkbox-item 
            input(type="checkbox", id="japanese"  name="japanese")
            label(for="japanese") Японская баня

          .company-edit__checkbox-item       
            input(type="checkbox", id="finnish" value="finnish"  name="finnish")
            label(for="finnish") Финская баня

          .company-edit__checkbox-item        
            input(type="checkbox", id="turkish"  name="turkish")
            label(for="turkish") Турецкая баня 

        .company-edit__checkbox-group
          .company-edit__checkbox-item 
            input(type="checkbox", id="firewood" name="firewood")
            label(for="firewood") На дровах

          .company-edit__checkbox-item 
            input(type="checkbox", id="irish"  name="irish")
            label(for="irish") Ирландская баня

          .company-edit__checkbox-item       
            input(type="checkbox", id="roman" name="roman")
            label(for="roman") Римская парная

        .company-edit__checkbox-group
          .company-edit__checkbox-item 
            input(type="checkbox", id="sport"  name="sport")
            label(for="sport") Сауна-спорт

  .company-edit__item
    h3.company-edit__sub-title 
      p Загрузка фото
        button.company-edit__popover(type='button' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p> С понедельника по пятницу с 9:00 до 17:00 - 3 часа отдыха: </p> <span> 700 грн. в усадьбе, </span>  <span> 800 грн. в срубе </span>" )
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_634_20661)">
            <path d="M10 5V6.25M10 8.75V14.375V8.75Z"  stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_634_20661">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>

    .company-edit__content

      .company-edit__uploading-group

        .company-edit__gallery      

        .company-edit__uploading
          label(for='photos-upload') 
            img(src='img/COMPANY/download.svg' alt='some')
            h3 Загрузить фото
          input#photos-upload.file(name='file' type='file' multiple)
        

      .company-edit__bottom

        a(href="company-departments.html") Назад

        a(href="#") Сохранить