.company-contacts {
  max-width: 975px;
  flex-grow: 1;
  color: #2f2f2f;
  margin: 50px 16px 279px 300px;
  font-family: "Montserrat";

  @media only screen and (max-width: 1000px) {
    margin: 70px 16px 50px 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
  }

  &__item {
    margin-top: 40px;
    max-width: 920px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  &__picker {
    max-width: 100%;
  }

  &__sub-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 634px;
  }

  &__field-group {
    display: flex;
    gap: 20px;
    @media only screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  &__field {
    position: relative;
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    gap: 7px;

    label,
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #282828;
    }
    input {
      width: auto;
      height: 35px;
      padding-left: 16px;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #2f2f2f;
      border: 1px solid #2f2f2f;
      transition: all 0.2s ease-in-out;

      &:focus {
        box-shadow: 0px 0px 5px 1px rgba(255, 136, 0, 0.25);
        border: 1px solid #ff8a00;
      }

      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #2f2f2f;
      }
    }
  }

  &__building {
    flex-grow: 0;
  }

  &__dropdown-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    background: #ffffff;
    border: 1px solid #2f2f2f;
    transition: all 0.2s;

    &.dropdown-opened {
      border: none;
      border-radius: 10px 10px 0px 0px;
      box-shadow: 0px -2px 10px -3px rgba(0, 0, 0, 0.25);
      .company-contacts__dropdown-menu {
        box-shadow: 0 0 5px #333;
        transition: all 0.2s ease-in-out;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.25);
        overflow-y: scroll;
        height: 250px;
        opacity: 1;
      }
    }
  }

  &__dropdown-txt {
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2f2f2f;
  }

  &__dropdown-menu {
    width: 100%;
    height: 0;
    position: absolute;
    top: 80px;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 200;

    span {
      width: 100%;
      padding: 5px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #2f2f2f;
      background-color: #fff;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: #ff8a00;
        color: #fff;
      }
    }
  }

  &__telephone-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__telephone {
    display: flex;
    align-items: flex-end;
    gap: 25px;

    .company-contacts__field {
      max-width: 350px;
    }
  }

  &__telephone-add,
  &__telephone-delete,
  &__time-add,
  &__time-delete {
    width: max-content;
    height: max-content;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    background: #ffffff;
    border: none;

    svg {
      display: block;
      transition: all 0.1s ease-in-out;
      fill: white;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  &__date-picker {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 20px;
    .company-contacts__dropdown-button {
      width: 92px;
    }
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__day {
    width: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #2f2f2f;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 120%;
    transition: all 0.1s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1);
    }
  }

  &__times {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 600px) {
      gap: 5px;
      flex-direction: column;
    }

    .company-contacts__dropdown-menu {
      top: 50px;
    }
  }

  &__line {
    width: 10px;
    margin: 0 5px;
    height: 1px;
    background: #2f2f2f;
  }

  &__uploading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 254px;
    height: 130px;
    background: #ffffff;
    border: 1px dashed #b3b3b3;
    border-radius: 10px;
    input {
      visibility: hidden;
      width: 0;
      height: 0;
    }
    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        box-shadow: 0px 0px 4px 1px #34343442;
      }
    }
    h3 {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: #2f2f2f;
    }

    img {
      display: block;
      object-fit: cover;
    }
  }

  &__uploading-img {
    display: block;
    width: 254px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px #34343486;
  }

  &__list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #2f2f2f;
  }

  &__list-text {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__bottom {
    margin-top: 60px;
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 36px;
      color: #2f2f2f;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #000000;
        color: #fff;
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }
}

.background-grey {
  background: #707070;
  border: 1px solid #707070;
  color: #fff;
  box-shadow: 0px 0px 5px 0px #70707094;
}
