.company-contacts {
  max-width: 975px;
  flex-grow: 1;
  color: #2f2f2f;
  margin: 50px 16px 279px 300px;

  @media only screen and (max-width: 1000px) {
    margin: 70px 16px 50px 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
  }
}
