.company-contacts 

  h1.company-contacts__title Основное описание / Контакты

  .company-contacts__item

    
    h3.company-contacts__sub-title Контакты

    .company-contacts__content

      .company-contacts__field
        label(for="establishment") Наименование заведения
        input(id="establishment" name="establishment" type="text" placeholder="Название")

      .company-contacts__field
        p Город
        button.company-contacts__dropdown-button( id="dropdown-city" type='button')
          p.company-contacts__dropdown-txt Название город

          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.175 7.1582L10 10.9749L13.825 7.1582L15 8.3332L10 13.3332L5 8.3332L6.175 7.1582Z" fill="#2F2F2F"/>
          </svg>
          
          .company-contacts__dropdown-menu(id="menu-city")
            span.company-contacts__dropdown-city(data-city="some-city") Название город-1
            span.company-contacts__dropdown-city(data-city="some-city") Название город-2
            span.company-contacts__dropdown-city(data-city="some-city") Название город-3
            span.company-contacts__dropdown-city(data-city="some-city") Название город-4
            span.company-contacts__dropdown-city(data-city="some-city") Название город-5
      
      .company-contacts__field-group
        
        .company-contacts__field
          p Улица
          button.company-contacts__dropdown-button( id="dropdown-street" type='button')
            p.company-contacts__dropdown-txt Название улицы

            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.175 7.1582L10 10.9749L13.825 7.1582L15 8.3332L10 13.3332L5 8.3332L6.175 7.1582Z" fill="#2F2F2F"/>
            </svg>
            
            .company-contacts__dropdown-menu(id="menu-street")
              span.company-contacts__dropdown-street(data-city="some-street") Название улицы-1
              span.company-contacts__dropdown-street(data-city="some-street") Название улицы-2
              span.company-contacts__dropdown-street(data-city="some-street") Название улицы-3
              span.company-contacts__dropdown-street(data-city="some-street") Название улицы-4
              span.company-contacts__dropdown-street(data-city="some-street") Название улицы-5

        .company-contacts__field.company-contacts__building
          label(for="building") Дом
          input(id="building" name="building" type="text" placeholder="Название")

      .company-contacts__telephone
          .company-contacts__telephone-field
            label(for="telephone") Телефон
            input(id="telephone" name="telephone" type="text" placeholder="+38 067 123-23-23")

          button.company-contacts__telephone-add(type="button")
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="12" cy="12" r="12" fill="#2F2F2F"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.75 6.9375C12.75 6.52329 12.4142 6.1875 12 6.1875C11.5858 6.1875 11.25 6.52329 11.25 6.9375V11.25H6.9375C6.52329 11.25 6.1875 11.5858 6.1875 12C6.1875 12.4142 6.52329 12.75 6.9375 12.75H11.25V17.0625C11.25 17.4767 11.5858 17.8125 12 17.8125C12.4142 17.8125 12.75 17.4767 12.75 17.0625V12.75H17.0625C17.4767 12.75 17.8125 12.4142 17.8125 12C17.8125 11.5858 17.4767 11.25 17.0625 11.25H12.75V6.9375Z" fill="white"/>
            </svg>


      .company-contacts__telephone
          .company-contacts__telephone-field
            label(for="telephone") Телефон
            input(id="telephone" name="telephone" type="text" placeholder="+38 067 123-23-23")

          button.company-contacts__telephone-delete(type="button")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="13" cy="13" r="12" fill="#2F2F2F"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9505 8.88994C9.65761 8.59705 9.18274 8.59705 8.88984 8.88994C8.59695 9.18284 8.59695 9.65771 8.88984 9.9506L11.9392 13L8.88984 16.0494C8.59695 16.3423 8.59695 16.8172 8.88984 17.1101C9.18274 17.403 9.65761 17.403 9.9505 17.1101L12.9999 14.0607L16.0493 17.1101C16.3422 17.403 16.8171 17.403 17.11 17.1101C17.4029 16.8172 17.4029 16.3423 17.11 16.0494L14.0606 13L17.11 9.9506C17.4029 9.65771 17.4029 9.18284 17.11 8.88994C16.8171 8.59705 16.3422 8.59705 16.0493 8.88994L12.9999 11.9393L9.9505 8.88994Z" fill="white"/>
            </svg>

  .company-contacts__item
    
    h3.company-contacts__sub-title Время работы

    .company-contacts__content

      .company-contacts__date

        .company-contacts__day-group

          button.company-contacts__day(type='button') Пн 
          button.company-contacts__day(type='button') Вт
          button.company-contacts__day(type='button') Ср
          button.company-contacts__day(type='button') Чт
          button.company-contacts__day(type='button') Пт
          button.company-contacts__day(type='button') Сб
          button.company-contacts__day(type='button') Вс

        .company-contacts__time-group

          .company-contacts__time

            select( id="time-from" name="time-from")
              option(value="00:00") 00:00
              option(value="01:00") 01:00
              option(value="02:00") 02:00
              option(value="03:00") 03:00
              option(value="04:00") 04:00
              option(value="05:00") 05:00 
              option(value="06:00") 06:00
              option(value="07:00") 07:00
              option(value="08:00") 08:00
              option(value="09:00") 09:00
              option(value="10:00") 10:00
              option(value="11:00") 11:00
              option(value="12:00") 12:00
              option(value="13:00") 13:00
              option(value="14:00") 14:00
              option(value="15:00") 15:00
              option(value="16:00") 16:00
              option(value="17:00") 17:00
              option(value="18:00") 18:00
              option(value="19:00") 19:00
              option(value="20:00") 20:00
              option(value="21:00") 21:00
              option(value="22:00") 22:00
              option(value="23:00") 23:00
              option(value="23:00") 24:00

            span - 

            select( id="time-from" name="time-from")
              option(value="00:00") 00:00
              option(value="01:00") 01:00
              option(value="02:00") 02:00
              option(value="03:00") 03:00
              option(value="04:00") 04:00
              option(value="05:00") 05:00 
              option(value="06:00") 06:00
              option(value="07:00") 07:00
              option(value="08:00") 08:00
              option(value="09:00") 09:00
              option(value="10:00") 10:00
              option(value="11:00") 11:00
              option(value="12:00") 12:00
              option(value="13:00") 13:00
              option(value="14:00") 14:00
              option(value="15:00") 15:00
              option(value="16:00") 16:00
              option(value="17:00") 17:00
              option(value="18:00") 18:00
              option(value="19:00") 19:00
              option(value="20:00") 20:00
              option(value="21:00") 21:00
              option(value="22:00") 22:00
              option(value="23:00") 23:00
              option(value="23:00") 24:00

            button.company-contacts__time-add(type="button")
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="12" fill="#2F2F2F"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.75 6.9375C12.75 6.52329 12.4142 6.1875 12 6.1875C11.5858 6.1875 11.25 6.52329 11.25 6.9375V11.25H6.9375C6.52329 11.25 6.1875 11.5858 6.1875 12C6.1875 12.4142 6.52329 12.75 6.9375 12.75H11.25V17.0625C11.25 17.4767 11.5858 17.8125 12 17.8125C12.4142 17.8125 12.75 17.4767 12.75 17.0625V12.75H17.0625C17.4767 12.75 17.8125 12.4142 17.8125 12C17.8125 11.5858 17.4767 11.25 17.0625 11.25H12.75V6.9375Z" fill="white"/>
              </svg>

          .company-contacts__time

            select( id="time-from" name="time-from")
              option(value="00:00") 00:00
              option(value="01:00") 01:00
              option(value="02:00") 02:00
              option(value="03:00") 03:00
              option(value="04:00") 04:00
              option(value="05:00") 05:00 
              option(value="06:00") 06:00
              option(value="07:00") 07:00
              option(value="08:00") 08:00
              option(value="09:00") 09:00
              option(value="10:00") 10:00
              option(value="11:00") 11:00
              option(value="12:00") 12:00
              option(value="13:00") 13:00
              option(value="14:00") 14:00
              option(value="15:00") 15:00
              option(value="16:00") 16:00
              option(value="17:00") 17:00
              option(value="18:00") 18:00
              option(value="19:00") 19:00
              option(value="20:00") 20:00
              option(value="21:00") 21:00
              option(value="22:00") 22:00
              option(value="23:00") 23:00
              option(value="23:00") 24:00

            span - 

            select( id="time-from" name="time-from")
              option(value="00:00") 00:00
              option(value="01:00") 01:00
              option(value="02:00") 02:00
              option(value="03:00") 03:00
              option(value="04:00") 04:00
              option(value="05:00") 05:00 
              option(value="06:00") 06:00
              option(value="07:00") 07:00
              option(value="08:00") 08:00
              option(value="09:00") 09:00
              option(value="10:00") 10:00
              option(value="11:00") 11:00
              option(value="12:00") 12:00
              option(value="13:00") 13:00
              option(value="14:00") 14:00
              option(value="15:00") 15:00
              option(value="16:00") 16:00
              option(value="17:00") 17:00
              option(value="18:00") 18:00
              option(value="19:00") 19:00
              option(value="20:00") 20:00
              option(value="21:00") 21:00
              option(value="22:00") 22:00
              option(value="23:00") 23:00
              option(value="23:00") 24:00

            button.company-contacts__time-delete(type="button")
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="13" cy="13" r="12" fill="#2F2F2F"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9505 8.88994C9.65761 8.59705 9.18274 8.59705 8.88984 8.88994C8.59695 9.18284 8.59695 9.65771 8.88984 9.9506L11.9392 13L8.88984 16.0494C8.59695 16.3423 8.59695 16.8172 8.88984 17.1101C9.18274 17.403 9.65761 17.403 9.9505 17.1101L12.9999 14.0607L16.0493 17.1101C16.3422 17.403 16.8171 17.403 17.11 17.1101C17.4029 16.8172 17.4029 16.3423 17.11 16.0494L14.0606 13L17.11 9.9506C17.4029 9.65771 17.4029 9.18284 17.11 8.88994C16.8171 8.59705 16.3422 8.59705 16.0493 8.88994L12.9999 11.9393L9.9505 8.88994Z" fill="white"/>
              </svg>

  .company-contacts__item

    
    h3.company-contacts__sub-title Логотип компании

    .company-contacts__content

      .company-contact__uploading

      .company-contact__list
        .company-contact__list-text
          span 1.
          p Если на логотипе указывается название объекта, то проверьте, чтобы его было хорошо видно на экранах любого размера.

        .company-contact__list-text
          span 2.
          p Соотношение сторон. Квадратные логотипы должны иметь соотношение сторон 1:1, у прямоугольных max  – 2:1.

        .company-contact__list-text
          span 3.
          p Тип файла. Форматы SVG, PNG и JPG (рекомендуем использовать SVG, т.к эти изображения отлично видны практически на всех устройствах. У изображений форматов PNG и JPG минимальный размер должен составлять 500 x 500 пикселей, а максимальный – 2000 x 2000.


        .company-contact__list-text
          span 4.
          p Размер файла. Можно загружать изображения размером не более 5 МБ.


  .company-contacts__bottom

    a(href="#") Назад

    a(href="#") Сохранить