.company-contacts 

  .company-contacts__title Основное описание / Контакты

  .company-contacts__item

    .company-contacts__item-left

    .company-contacts__item-right

      .company-contacts__field

        