section.advantage

  .advantage__inner 

    .advantage__left 

      h3.advantage__title Преимущества работы с нашим сервисом:

      .advantage__item-group

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          p Привлечение потока клиентов за счет использования дополнительной площадки для продвижения услуг:

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          p Если у вас нет сайта - мы предоставим фирменную страницу с описанием услуг вашего заведения. Весь контент и информацию  вы заполняете сами через ЛК

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          p Бронирование и оплата напрямую с нашего сайта. Актуальное расписание и наличие мест бронирования

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          p База клиентов в вашем ЛК, статистика по продажам,отзывы напрямую от клиентов, побывавших в вашем заведении

      a.advantage__btn(href="#") Начать сотрудничество

    .advantage__right 

      .advantage__right-img

        img(src="img/CONNECTION/pic/big.webp", alt="some-pic")


section.advantage

  .advantage__inner.advantage__reverse

    .advantage__left 

      h3.advantage__title Как это работает:

      .advantage__item-group

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          div
            h4 Настройте профиль своего объекта
            p Привлечение потока клиентов за счет использования дополнительной площадки для продвижения услуг:

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          div
            h4 Будьте уверены- гости найдут именно вас!
            p Гибкий поиск по характеристикам объекта / поиск на карте

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          div
            h4 Начните зарабатывать
            p Мы поможем вам получить оплату, вычтем комиссию и отправим вам остаток

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          div
            h4 Управляйте акциями, привлекайте клиентов
            p Возможность настройки акций и спецпредложений, стимулирование продаж., аналитика заказов
      a.advantage__btn(href="#") Начать сотрудничество

    .advantage__right 

      .advantage__right-img

        img(src="img/CONNECTION/pic/big.webp", alt="some-pic")