section.advantage

  .advantage__inner 

    .advantage__left 

      h3.advantage__title Преимущества работы с нашим сервисом:

      .advantage__item-group

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          p Привлечение потока клиентов за счет использования дополнительной площадки для продвижения услуг:

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          p Если у вас нет сайта - мы предоставим фирменную страницу с описанием услуг вашего заведения. Весь контент и информацию  вы заполняете сами через ЛК

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          p Бронирование и оплата напрямую с нашего сайта. Актуальное расписание и наличие мест бронирования

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          p База клиентов в вашем ЛК, статистика по продажам,отзывы напрямую от клиентов, побывавших в вашем заведении

      button.advantage__btn(data-bs-toggle="modal" href="#advantageRegister" role="button") Начать сотрудничество

    .advantage__right 

      .advantage__right-img

        img(src="img/CONNECTION/pic/big.webp", alt="some-pic")


section.advantage

  .advantage__inner.advantage__reverse

    .advantage__left 

      h3.advantage__title Как это работает:

      .advantage__item-group

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          div
            h4 Настройте профиль своего объекта
            p Привлечение потока клиентов за счет использования дополнительной площадки для продвижения услуг:

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          div
            h4 Будьте уверены- гости найдут именно вас!
            p Гибкий поиск по характеристикам объекта / поиск на карте

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          div
            h4 Начните зарабатывать
            p Мы поможем вам получить оплату, вычтем комиссию и отправим вам остаток

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          div
            h4 Управляйте акциями, привлекайте клиентов
            p Возможность настройки акций и спецпредложений, стимулирование продаж., аналитика заказов
      a.advantage__btn(href="#") Начать сотрудничество

    .advantage__right 

      .advantage__right-img

        img(src="img/CONNECTION/pic/big.webp", alt="some-pic")

#advantageRegister.modal.fade(tabindex='-1' aria-labelledby='advantageRegisterLabel' aria-hidden='true')
    .modal-dialog.booking__modal-dialog
      .modal-content.booking__modal-content 
        .modal-header.booking__modal-header
          button.modal-close-btn(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")    
        .modal-body.booking__modal-body 

          .form
            h3.form__title Заявка на подключение к системе

            p.form__text-top Оставьте свои контактные данные и мы расскажем условия сотрудничества и подключения к системе бронирования 

            .form__field 

              label(for="company") Компания

              input(type="text" id="company" placeholder='Название компании')        

            .form__field 

              label(for="connection-mail") Почта

              input(type="email" id="connection-mail" placeholder='example@example.com')

            .form__field 

              label(for="telephone") Мобильный телефон

              input(type="text" id="telephone" placeholder='+38 067 123-23-23 ')        

            button.form__btn-main(data-bs-target='#advantageRegister2' data-bs-toggle='modal')  Отправить заявку

            p.form__text-bottom Оставляя заявку, вы соглашаетесь с нашими Правилами и условиями и Положением о конфиденциальности

#advantageRegister2.modal.fade(tabindex='-1' aria-labelledby='advantageRegisterLabel2' aria-hidden='true')
    .modal-dialog.booking__modal-dialog
      .modal-content.booking__modal-content 
        .modal-header.booking__modal-header
          button.modal-close-btn(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")    
        .modal-body.booking__modal-body 

          .form
            h3.form__title Ваша заявка успешно отправлена

            p.form__text-bottom Наш менеджер свяжется с вами в течении 15 минут