section.advantage

  .advantage__inner 

    .advantage__left 

      h3.advantage__title Преимущества работы с нашим сервисом:

      .advantage__item-group

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          p Привлечение потока клиентов за счет использования дополнительной площадки для продвижения услуг:

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          p Если у вас нет сайта - мы предоставим фирменную страницу с описанием услуг вашего заведения. Весь контент и информацию  вы заполняете сами через ЛК

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          p Бронирование и оплата напрямую с нашего сайта. Актуальное расписание и наличие мест бронирования

        .advantage__item
          img(src="img/CONNECTION/pic/small.webp", alt="some-pic")
          p База клиентов в вашем ЛК, статистика по продажам,отзывы напрямую от клиентов, побывавших в вашем заведении

      a.advantage__btn(href="#") Начать сотрудничество

    .advantage__right 

      .advantage__right-img

        img(src="img/CONNECTION/pic/big.webp", alt="some-pic")