section.map-sauna
  div.map-sauna__map-content#map-sauna

  .map-sauna__location
      img(src="img/SAUNA/icon/location.svg", alt="location")

  button.map-sauna__button(type='button') Варианты неподалеку