.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    @media only screen and (max-width: 420px) {
      font-size: 18px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h5 {
      font-weight: 700;
      font-size: 18px;
      line-height: 130%;
      @media only screen and (max-width: 420px) {
        font-size: 14px;
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      @media only screen and (max-width: 420px) {
        font-size: 12px;
      }
    }
  }
  &__fields {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__item {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all 0.2s;

    &:hover label {
      color: #ff8a00;
    }

    &:hover input {
      border: 1px solid #ff8a00;
    }

    label {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      transition: all 0.2s;
      @media only screen and (max-width: 420px) {
        font-size: 12px;
      }
    }
    input {
      width: 100%;
      height: 35px;
      padding-left: 16px;
      background: #ffffff;
      border: 1px solid #707070;
      border-radius: 4px;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      transition: all 0.2s;
      @media only screen and (max-width: 420px) {
        height: 30px;
        font-size: 12px;
      }

      &:focus {
        border: 1px solid #ff8a00;
      }
    }
  }

  &__agreement {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__radio {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;

    label {
      max-width: 340px;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      cursor: pointer;
      @media only screen and (max-width: 420px) {
        font-size: 12px;
      }
    }

    input {
      width: 20px;
      height: 20px;
      margin-top: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      border: 1px solid #707070;
      border-radius: 2px;
      outline: none;
      transition-duration: 0.3s;
      cursor: pointer;

      &:checked {
        border: 1px solid #ff8a00;
        background-color: #ff8a00;
      }

      &:checked + label::before {
        display: block;
        left: 5px;
        top: 3px;
        font-weight: 500;
        content: "\2713";
        text-align: center;
        color: #ffffff;
        position: absolute;
      }
    }
  }
  &__submission {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h5 {
      font-weight: 700;
      font-size: 18px;
      line-height: 130%;
      @media only screen and (max-width: 420px) {
        font-size: 14px;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      @media only screen and (max-width: 420px) {
        font-size: 12px;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 331px;
      height: 48px;
      margin-top: 10px;
      background: white;
      border: 2px solid #ff8a00;
      border-radius: 6px;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #ff8a00;
      text-decoration: none;
      transition: all 0.2s;
      @media only screen and (max-width: 420px) {
        margin: 10px auto 0 auto;
        width: 220px;
        height: 42px;
        font-size: 14px;
      }

      &:hover {
        border: none;
        background: #ff8a00;
        color: #ffffff;
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }
}
