form.form 

  h4.form__title Данные для получения заказа

  .form__description
    h5 Вы можете оформить заказ без регистрации
    p Укажите контактные данные для отправки информации по бронированию

  .form__fields

    .form__item
      label(for="phone") Телефон

      input(type="text" id="phone" name="phone" placeholder="+38 067 123-23-23" required)

    .form__item
      label(for="email") Почта

      input(type="text" id="email" name="email" placeholder="example@example.com" required)

  .form__agreement

    .form__radio
      input(type="checkbox", id="agreement-1"  name="agreement-1")
      label(for="agreement-1") Согласен с уловиями бронирования услуг и обработки данных

    .form__radio 
      input(type="checkbox", id="agreement-2"  name="agreement-2")
      label(for="agreement-2") Хочу получать информации об акциях и спецпредложениях

  .form__submission
    h5 или войти в личный кабинет
    p Войдите в аккаунт, чтобы использовать сохраненные данные, иметь доступ к заказам и бонусной программе.
    a(href="account.html") Вход в личный кабинет