.company-description

  h1.company-description__title Основное описание 

  .company-description__card

    .company-description__card-top
      h3 Контакты

      .company-description__upload
        a.company-description__link(href="company-contacts.html") Изменить

    .company-description__contacts

      .company-description__contact-item

        .company-description__contact-txt
          span Название компании
          p Сауна Емеля

        .company-description__contact-txt
          span Адрес основного отделения (фактический)
          p г. Киев, ул. Волинська 10

      .company-description__contact-item

        .company-description__contact-txt
          span Телефоны компании
          p Не указано

        .company-description__contact-txt
          span Время работы
          p г. Не указано

      .company-description__contact-item

        .company-description__contact-txt
          span Логотип
          img.company-description__contact-logo(src="img/COMPANY/some-logo.webp", alt="logo")

    .company-description__line

  

  .company-description__card

    .company-description__card-top
      h3 Фотографии объекта

      .company-description__upload
        a.company-description__link(href="company-photos.html") Изменить        

    .company-description__photos
      p.company-description__photo-text Раздел для публикации фото к основному описанию сауны / бани Для публикации объявления необходимо хотя бы 3-и фото (в идеале - фото всех помещений)

      .company-description__photo-gallery
        img.company-description__photo-img(src="img/COMPANY/some-logo.webp", alt="logo")

        img.company-description__photo-img(src="img/COMPANY/some-logo.webp", alt="logo")

        img.company-description__photo-img(src="img/COMPANY/some-logo.webp", alt="logo")

        img.company-description__photo-img(src="img/COMPANY/some-logo.webp", alt="logo")




  .company-description__line


  .company-description__card

    .company-description__card-top
      h3 Описание / характеристики

      .company-description__upload
        a.company-description__link(href="company-features.html") Изменить
        

    .company-description__contacts

      .company-description__contact-item

        .company-description__contact-txt
          span Название компании
          p Количество залов: 6 залов / Вместимость: не указано / Тип бани: Турецкая, Хамам, Финская, С веником
      

      .company-description__contact-item

        .company-description__contact-txt
          span Описание
          p Сауна «Аквамарин» рад пригласить в гости всех ценителей настоящего банного отдыха. Здесь вы сможете...
      
      .company-description__contact-item

        .company-description__contact-txt
          span Услуги
          p Кухня: Блюда собственной кухни: 6 видов шашлыков, 6 видов итальянской пасты и ризотто, блюда русской кухни...

    .company-description__line

