@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

// CSS-файлы библиотек
@import "vendor/libs-company";

// Основное
@import "base/fonts";
@import "base/general";

@import "../blocks/components/COMPANY";
@import "../blocks/modules/COMPANY";

.main {
  position: relative;
  display: flex;
  margin-top: 70px;
}
