@import 'vendor/import/bootstrap';
@import 'vendor/import/rest';
@import 'base/fonts';

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Montserrat';
  @media only screen and (max-width: 865px) {
    height: auto;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  border-bottom: 1px solid #b3b3b3;
  z-index: 500;

  &__nav {
    max-width: 826px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 20px;
    transition: all 0.2s;

    @media only screen and (max-width: 1110px) {
      margin-left: 20px;
      gap: 10px;
    }

    p {
      transition: all 0.2s;
      font-weight: 700;
      font-size: 32px;
      line-height: 150%;
      color: #2f2f2f;

      @media only screen and (max-width: 600px) {
        font-size: 22px;
      }

      @media only screen and (max-width: 400px) {
        font-size: 18px;
      }
    }
  }
}

.main {
  width: max-content;
  height: 100%;
  margin: 125px auto 50px auto;
  display: flex;
  gap: 95px;
  color: #2f2f2f;

  @media only screen and (max-width: 540px) {
    width: auto;
    padding: 0 16px;
  }

  &__content {
    max-width: 385px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
  }

  &__order,
  &__text {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
  }

  &__text {
    padding-top: 30px;
  }

  &__order {
    padding-top: 20px;
  }

  &__image {
    height: 246px;

    @media only screen and (max-width: 880px) {
      display: none;
    }

    img {
      display: block;
      max-width: 350px;
      height: 100%;
      object-fit: contain;
    }
  }
  &__button {
    margin-top: 40px;
    max-width: 350px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #2f2f2f;
    color: #ffffff;
    transition: all 0.2s;

    &:hover {
      background: #ff8a00;
      color: #ffffff;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.footer {
  width: 100%;
  background: #f2f2f2;

  &__inner {
    height: 80px;
    max-width: 826px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media only screen and (max-width: 1200px) {
      max-width: 100%;
      padding: 0 16px;
    }
  }

  &__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }
}
