@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/functions';

// CSS-файлы библиотек
@import 'vendor/libs-schedule-booking-week';

// Основное
@import 'base/fonts';
@import 'base/general';

@import '../blocks/components/COMPANY';
@import '../blocks/modules/COMPANY/header/header';
@import '../blocks/modules/SCHEDULE/schedule-booking-week/schedule-booking-week';
@import '../blocks/modules/COMPANY/footer/footer';

.main {
  position: relative;
  display: flex;
  margin-top: 70px;
}
