section.card-list
  include ../card-item/card-item

  include ../card-item/card-item

  include ../card-item/card-item

  include ../card-item/card-item

  include ../card-item/card-item

  include ../card-item/card-item

  include ../card-item/card-item

  