.reviews 

  .reviews__btn-group

    bottom.reviews__service-btn.active-tab(type='button') Отзывы сервиса

    bottom.reviews__flamp-btn(type='button') Отзывы Flamp

  .reviews__body

    .reviews__service

      .reviews__top

        .reviews__all 

          .reviews__all-text 

            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_634_22562)">
              <path d="M10.9999 0.412842L7.87176 7.38547L0.879883 8.49715L5.93988 13.927L4.74363 21.5878L10.9999 17.973L17.2561 21.5878L16.0599 13.927L21.1199 8.50472L14.128 7.38547L10.9999 0.412842Z" />
              </g>
              <defs>
              <clipPath id="clip0_634_22562">
              <rect width="22" height="22" fill="white"/>
              </clipPath>
              </defs>
            </svg>

            span 4.5
            p Отзывы (22)

          button.reviews__all-btn(type='button') Написать рецензию

        .reviews__statistics

          .reviews__statistics-group

            .reviews__statistics-item
              p Чистота
              .reviews__statistics-line 
                span.reviews__4-8
                p 4,8

            .reviews__statistics-item
              p Сотрудники
              .reviews__statistics-line 
                span.reviews__4-0 
                p 4,0

            .reviews__statistics-item
              p Сервис
              .reviews__statistics-line 
                span.reviews__4-8
                p 4,8

          .reviews__statistics-group

            .reviews__statistics-item
              p Интерьер
              .reviews__statistics-line 
                span.reviews__4-0
                p 4,0

            .reviews__statistics-item
              p Парная
              .reviews__statistics-line 
                span.reviews__4-8
                p 4,8

            .reviews__statistics-item
              p Соотношение <br> цена / качество
              .reviews__statistics-line 
                span.reviews__4-0
                p 4,0

      .reviews__content 

        .reviews__content-item

          .reviews__content-top

            .reviews__content-person
              h4 Oleg
              p Декабрь 2020

            .reviews__content-rate

              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_634_22562)">
                <path d="M10.9999 0.412842L7.87176 7.38547L0.879883 8.49715L5.93988 13.927L4.74363 21.5878L10.9999 17.973L17.2561 21.5878L16.0599 13.927L21.1199 8.50472L14.128 7.38547L10.9999 0.412842Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0_634_22562">
                <rect width="22" height="22" fill="white"/>
                </clipPath>
                </defs>
              </svg>

              p 4.5

          p.reviews__content-text Мы вообще ярые поклонники всей сети, эта сауна ближе всего к нашему району поэтому ходим преимущественно туда. Все очень классно, интерьер шикарный, обслуживание на высоте, одним словом - ребята стараются поддерживать чистоту и комфорт в своих заведениях.

        .reviews__content-item

          .reviews__content-top

            .reviews__content-person
              h4 Oleg
              p Декабрь 2020

            .reviews__content-rate

              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_634_22562)">
                <path d="M10.9999 0.412842L7.87176 7.38547L0.879883 8.49715L5.93988 13.927L4.74363 21.5878L10.9999 17.973L17.2561 21.5878L16.0599 13.927L21.1199 8.50472L14.128 7.38547L10.9999 0.412842Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0_634_22562">
                <rect width="22" height="22" fill="white"/>
                </clipPath>
                </defs>
              </svg>

              p 4.5

          p.reviews__content-text Мы вообще ярые поклонники всей сети, эта сауна ближе всего к нашему району поэтому ходим преимущественно туда. Все очень классно, интерьер шикарный, обслуживание на высоте, одним словом - ребята стараются поддерживать чистоту и комфорт в своих заведениях.

        .reviews__content-item

          .reviews__content-top

            .reviews__content-person
              h4 Oleg
              p Декабрь 2020

            .reviews__content-rate

              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_634_22562)">
                <path d="M10.9999 0.412842L7.87176 7.38547L0.879883 8.49715L5.93988 13.927L4.74363 21.5878L10.9999 17.973L17.2561 21.5878L16.0599 13.927L21.1199 8.50472L14.128 7.38547L10.9999 0.412842Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0_634_22562">
                <rect width="22" height="22" fill="white"/>
                </clipPath>
                </defs>
              </svg>

              p 4.5

          p.reviews__content-text Мы вообще ярые поклонники всей сети, эта сауна ближе всего к нашему району поэтому ходим преимущественно туда. Все очень классно, интерьер шикарный, обслуживание на высоте, одним словом - ребята стараются поддерживать чистоту и комфорт в своих заведениях.

        .reviews__content-item

          .reviews__content-top

            .reviews__content-person
              h4 Oleg
              p Декабрь 2020

            .reviews__content-rate

              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_634_22562)">
                <path d="M10.9999 0.412842L7.87176 7.38547L0.879883 8.49715L5.93988 13.927L4.74363 21.5878L10.9999 17.973L17.2561 21.5878L16.0599 13.927L21.1199 8.50472L14.128 7.38547L10.9999 0.412842Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0_634_22562">
                <rect width="22" height="22" fill="white"/>
                </clipPath>
                </defs>
              </svg>

              p 4.5

          p.reviews__content-text Мы вообще ярые поклонники всей сети, эта сауна ближе всего к нашему району поэтому ходим преимущественно туда. Все очень классно, интерьер шикарный, обслуживание на высоте, одним словом - ребята стараются поддерживать чистоту и комфорт в своих заведениях.

    .reviews__flamp

      .reviews__top

        .reviews__all 

          .reviews__all-text 

            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_634_22562)">
              <path d="M10.9999 0.412842L7.87176 7.38547L0.879883 8.49715L5.93988 13.927L4.74363 21.5878L10.9999 17.973L17.2561 21.5878L16.0599 13.927L21.1199 8.50472L14.128 7.38547L10.9999 0.412842Z" />
              </g>
              <defs>
              <clipPath id="clip0_634_22562">
              <rect width="22" height="22" fill="white"/>
              </clipPath>
              </defs>
            </svg>

            span 4.5
            p Отзывы (22)

          button.reviews__all-btn(type='button') Написать рецензию

        .reviews__statistics

          .reviews__statistics-group

            .reviews__statistics-item
              p Чистота
              .reviews__statistics-line 
                span.reviews__4-8
                p 4,8

            .reviews__statistics-item
              p Сотрудники
              .reviews__statistics-line 
                span.reviews__4-0 
                p 4,0

            .reviews__statistics-item
              p Сервис
              .reviews__statistics-line 
                span.reviews__4-8
                p 4,8

          .reviews__statistics-group

            .reviews__statistics-item
              p Интерьер
              .reviews__statistics-line 
                span.reviews__4-0
                p 4,0

            .reviews__statistics-item
              p Парная
              .reviews__statistics-line 
                span.reviews__4-8
                p 4,8

            .reviews__statistics-item
              p Соотношение <br> цена / качество
              .reviews__statistics-line 
                span.reviews__4-0
                p 4,0

      .reviews__content 

        .reviews__content-item

          .reviews__content-top

            .reviews__content-person
              h4 Petro
              p Декабрь 2022

            .reviews__content-rate

              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_634_22562)">
                <path d="M10.9999 0.412842L7.87176 7.38547L0.879883 8.49715L5.93988 13.927L4.74363 21.5878L10.9999 17.973L17.2561 21.5878L16.0599 13.927L21.1199 8.50472L14.128 7.38547L10.9999 0.412842Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0_634_22562">
                <rect width="22" height="22" fill="white"/>
                </clipPath>
                </defs>
              </svg>

              p 4.5

          p.reviews__content-text Мы вообще ярые поклонники всей сети, эта сауна ближе всего к нашему району поэтому ходим преимущественно туда. Все очень классно, интерьер шикарный, обслуживание на высоте, одним словом - ребята стараются поддерживать чистоту и комфорт в своих заведениях.

        .reviews__content-item

          .reviews__content-top

            .reviews__content-person
              h4 Petro
              p Декабрь 2022

            .reviews__content-rate

              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_634_22562)">
                <path d="M10.9999 0.412842L7.87176 7.38547L0.879883 8.49715L5.93988 13.927L4.74363 21.5878L10.9999 17.973L17.2561 21.5878L16.0599 13.927L21.1199 8.50472L14.128 7.38547L10.9999 0.412842Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0_634_22562">
                <rect width="22" height="22" fill="white"/>
                </clipPath>
                </defs>
              </svg>

              p 4.5

          p.reviews__content-text Мы вообще ярые поклонники всей сети, эта сауна ближе всего к нашему району поэтому ходим преимущественно туда. Все очень классно, интерьер шикарный, обслуживание на высоте, одним словом - ребята стараются поддерживать чистоту и комфорт в своих заведениях.

        .reviews__content-item

          .reviews__content-top

            .reviews__content-person
              h4 Petro
              p Декабрь 2022

            .reviews__content-rate

              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_634_22562)">
                <path d="M10.9999 0.412842L7.87176 7.38547L0.879883 8.49715L5.93988 13.927L4.74363 21.5878L10.9999 17.973L17.2561 21.5878L16.0599 13.927L21.1199 8.50472L14.128 7.38547L10.9999 0.412842Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0_634_22562">
                <rect width="22" height="22" fill="white"/>
                </clipPath>
                </defs>
              </svg>

              p 4.5

          p.reviews__content-text Мы вообще ярые поклонники всей сети, эта сауна ближе всего к нашему району поэтому ходим преимущественно туда. Все очень классно, интерьер шикарный, обслуживание на высоте, одним словом - ребята стараются поддерживать чистоту и комфорт в своих заведениях.

        .reviews__content-item

          .reviews__content-top

            .reviews__content-person
              h4 Petro
              p Декабрь 2022

            .reviews__content-rate

              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_634_22562)">
                <path d="M10.9999 0.412842L7.87176 7.38547L0.879883 8.49715L5.93988 13.927L4.74363 21.5878L10.9999 17.973L17.2561 21.5878L16.0599 13.927L21.1199 8.50472L14.128 7.38547L10.9999 0.412842Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0_634_22562">
                <rect width="22" height="22" fill="white"/>
                </clipPath>
                </defs>
              </svg>

              p 4.5

          p.reviews__content-text Мы вообще ярые поклонники всей сети, эта сауна ближе всего к нашему району поэтому ходим преимущественно туда. Все очень классно, интерьер шикарный, обслуживание на высоте, одним словом - ребята стараются поддерживать чистоту и комфорт в своих заведениях.

    a.reviews__more( href="comments.html") Читать все отзывы (22)
  
  span.reviews__line
