extends layouts/default
include helpers/mixins

block variables
	- const title = "SAUNA"

block links
	link(rel="stylesheet" href="styles/main.css")

block content
	include ../blocks/modules/INDEX/header/header
	
	main.main
		
		include ../blocks/modules/INDEX/banner/banner

		.wrapper
			include ../blocks/modules/INDEX/advantage/advantage

		.wrapper
			include ../blocks/modules/INDEX/popular/popular

		.wrapper
			include ../blocks/modules/INDEX/offers/offers
			
		include ../blocks/modules/INDEX/subscription/subscription
		
		include ../blocks/modules/INDEX/partners/partners
	
	include ../blocks/modules/INDEX/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")