.sauna-card

  .sauna-card__preview 

    .sauna-card__top

      .sauna-card__title
        p Сауна
        h2 Аквамарин

      .sauna-card__stickers

        .sauna-card__btn-group

          a.sauna-card__btn-left(href="#") Акция

          a.sauna-card__btn-right(href="#")
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.00014 1L5.72514 5.61L0.640137 6.345L4.32014 9.935L3.45014 15L8.00014 12.61L12.5501 15L11.6801 9.935L15.3601 6.35L10.2751 5.61L8.00014 1Z"/>
            </svg>
            p 4.5
        
        .sauna-card__like

          p 20 отзывов

          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.2469 4.98458L12 5.84661L12.7531 4.98458C13.4773 4.15564 14.1391 3.50737 14.9304 3.05493C15.7031 2.61311 16.6562 2.32666 18 2.32666C19.2749 2.32666 20.4821 2.74653 21.3816 3.74629C22.29 4.7559 23 6.48565 23 9.32822C23 10.5395 22.3716 12.5828 20.575 14.9784C18.8615 17.2633 16.1221 19.8156 12 22.1814C7.87792 19.8156 5.1385 17.2633 3.42502 14.9784C1.62844 12.5828 1 10.5395 1 9.32822C1 6.48565 1.71004 4.7559 2.6184 3.74629C3.5179 2.74653 4.72512 2.32666 6 2.32666C7.34378 2.32666 8.29694 2.61311 9.06964 3.05493C9.86093 3.50737 10.5227 4.15564 11.2469 4.98458Z" stroke="black" stroke-width="2"/>
            <path d="M18 1.32666C15 1.32666 13.4906 2.62041 12 4.32666C10.5094 2.62041 9 1.32666 6 1.32666C3 1.32666 0 3.32822 0 9.32822C0 12.3282 3 18.3282 12 23.3298C21 18.3282 24 12.3282 24 9.32822C24 3.32822 21 1.32666 18 1.32666Z" />
          </svg>

    .sauna-card__gallery

      include ../../../components/SAUNA/gallery/gallery
    
    .sauna-card__mini-card 

      include ../../../components/SAUNA/mini-card/mini-card
      
  .sauna-card__content 

    .sauna-card__adress
      h3.sauna-card__sub-title Адрес

      .sauna-card__adress-inner
        .sauna-card__adress-group 
          .sauna-card__adress-item 
            img(src="img/SAUNA/icon/location-sauna.svg", alt="location")
            p Оболонский р-н, ул. Волинська 10

          .sauna-card__adress-item 
            img(src="img/SAUNA/icon/location-sauna.svg", alt="location")
            p Оболонский р-н, ул. Волинська 10


        .sauna-card__adress-group 

          .sauna-card__adress-item 
            img(src="img/SAUNA/icon/location-sauna.svg", alt="location")
            p Оболонский р-н, ул. Волинська 10

          .sauna-card__adress-item 
            img(src="img/SAUNA/icon/location-sauna.svg", alt="location")
            p Оболонский р-н, ул. Волинська 10

    span.sauna-card__line

    .sauna-card__description 

      h3.sauna-card__sub-title Описание сауны

      .sauna-card__text-group
        p Сауна «Аквамарин» рад пригласить в гости всех ценителей настоящего банного отдыха. Здесь вы сможете попариться и повеселиться в стильной обстановке и оценить высокое качество предоставляемый услуг.

        p Всем известно, что парение в настоящей финской сауне или русской бане приносит не только пользу для здоровья и омоложение телу, но и смывает стресс и негативные эмоции. Закрепить положительный эффект сауны вы можете, окунувшись в большой бассейн с прохладной водой.

        p После всех процедур вы можете расположиться в гостиной, посмотреть спутниковые каналы и DVD, включить караоке, насладиться кальяном и даже сыграть партию в бильярд.


      span.sauna-card__btn-capacity(data-open="false")
        p Узнать больше
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"   xmlns="http://www.w3.org/2000/svg">
          <path d="M13.825 6.66663L10 10.4833L6.175 6.66663L5 7.84163L10 12.8416L15 7.84163L13.825 6.66663Z"/>
        </svg>

    span.sauna-card__line

    .sauna-card__services

      .sauna-card__services-item

        .sauna-card__service-icon
          img(src="img/SAUNA/icon/food.svg", alt="icon")
          p Кухня

        p.sauna-card__service-text Блюда собственной кухни: 6 видов шашлыков, 6 видов итальянской пасты и ризотто, блюда русской кухни в горшочках, а также любые блюда при предварительном заказе банкета

      .sauna-card__services-item

        .sauna-card__service-icon
          img(src="img/SAUNA/icon/sauna.svg", alt="icon")
          p Банные услуги

        p.sauna-card__service-text Массажист (по предварительной записи) от 1000 грн., Парильщик (по предварительной записи) от 1000 грн.

      .sauna-card__services-item

        .sauna-card__service-icon
          img(src="img/SAUNA/icon/swimming.svg", alt="icon")
          p Аква зона

        p.sauna-card__service-text Бассейн 3×6 м с водопадом, подсветкой, подогревом, двойной системой очистки, а также душевые комнаты.

      .sauna-card__services-item

        .sauna-card__service-icon
          img(src="img/SAUNA/icon/comfort.svg", alt="icon")
          p Удобства

        p.sauna-card__service-text На территории отеля работает бесплатный «Wi-Fi», есть кабельное телевидение и парковка, которая находится под круглосуточным видеонаблюдением.

      .sauna-card__services-item

        .sauna-card__service-icon
          img(src="img/SAUNA/icon/holiday.svg", alt="icon")
          p Развлечения

        p.sauna-card__service-text На территории отеля работает бесплатный «Wi-Fi», есть кабельное телевидение и парковка, которая находится под круглосуточным видеонаблюдением.

    span.sauna-card__line

    .sauna-card__offers
      h3.sauna-card__sub-title Акции и спецпредложения
      .sauna-card__offers-item
        .sauna-card__offers-top(data-open="false")
          
          h4.sauna-card__offers-title Каждый 3-й час в подарок
          
          <svg class="sauna-card__offers-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle class="sauna-card__offers-circle" cx="15" cy="15" r="15"/>
            <path d="M21.75 15H8.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

        .sauna-card__offers-content
          
          p.sauna-card__offers-text понедельника по пятницу с 9:00 до 17:00-3 часа отдыха:

          ul.sauna-card__offers-list
            li 700 грн. в усадьбе  
            li 800 грн. в срубе
        
        span.sauna-card__offers-line
            
      .sauna-card__offers-item
        .sauna-card__offers-top(data-open="false")
          h4.sauna-card__offers-title Тариф «Для двоих»          
          <svg class="sauna-card__offers-icon" width="32" height="32" viewBox="0 0 32 32" fill="none"   xmlns="http://www.w3.org/2000/svg">
            <circle class="sauna-card__offers-circle" cx="15" cy="15" r="15"/>
            <path d="M21.75 15H8.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

        .sauna-card__offers-content 
        
          p.sauna-card__offers-text понедельника по пятницу с 9:00 до 17:00-3 часа отдыха:

          ul.sauna-card__offers-list
            li 700 грн. в усадьбе  
            li 800 грн. в срубе
