@import "COMPANY/header/header";
@import "COMPANY/company-profile/company-profile";
@import "COMPANY/company-description/company-description";
@import "COMPANY/company-contacts/company-contacts";
@import "COMPANY/company-photos/company-photos";
@import "COMPANY/company-features/company-features";
@import "COMPANY/company-departments/company-departments";
@import "COMPANY/company-edit/company-edit";
@import "COMPANY/company-account-edit/company-account-edit";
@import "COMPANY/company-stock/company-stock";

@import "COMPANY/footer/footer";
