@import "SAUNA/header/header";
@import "SAUNA/footer/footer";

@import "SAUNA/main/main";
@import "SAUNA/sauna-card/sauna-card";
@import "SAUNA/small-card/small-card";
@import "SAUNA/reviews/reviews";
@import "SAUNA/map-sauna/map-sauna";
