.advantage {
  padding-top: 64px;
  width: 100%;
  background-color: #ffffff;

  @media only screen and (max-width: 1150px) {
    padding-top: 102px;
  }
  @media only screen and (max-width: 780px) {
    padding-top: 210px;
  }

  &__inner {
    max-width: 1490px;
    height: 141px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 1150px) {
      flex-direction: column;
      height: auto;
      gap: 30px;
    }
  }

  &__item {
    width: 350px;
    height: 144px;
    display: flex;
    gap: 30px;
    @media only screen and (max-width: 780px) {
      gap: 16px;
      width: auto;
      height: auto;
    }

    @media only screen and (max-width: 780px) {
      gap: 16px;
    }
    img {
      width: 60px;
      height: 60px;
      @media only screen and (max-width: 780px) {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__text {
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media only screen and (max-width: 780px) {
      width: auto;
    }
  }
  &__text-big {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    @media only screen and (max-width: 780px) {
      width: 222px;
      font-size: 18px;
    }
  }
  &__text-small {
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    @media only screen and (max-width: 780px) {
      display: none;
    }
  }
}
