.stock
  .stock__top

    h1.stock__title

    a.stock__add(href="company-stock-set.html") Создать новую акцию


  .stock__item-group

    .stock__item 

      .stock__item-top

        .stock__item-left

          h2.stock__item-title Каждый 3-й час в подарок

          button.stock__item-btn(type='button') Выключен

        .stock__item-right 

          a.stock__adit(href="#") 
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.2222 21.6673H4.33336V5.77843H13.8811L15.3256 4.33398H4.33336C3.95027 4.33398 3.58287 4.48617 3.31198 4.75705C3.0411 5.02794 2.88892 5.39534 2.88892 5.77843V21.6673C2.88892 22.0504 3.0411 22.4178 3.31198 22.6887C3.58287 22.9596 3.95027 23.1118 4.33336 23.1118H20.2222C20.6053 23.1118 20.9727 22.9596 21.2436 22.6887C21.5145 22.4178 21.6667 22.0504 21.6667 21.6673V10.834L20.2222 12.2784V21.6673Z"/>
              <path d="M24.2161 4.21894L21.7822 1.78506C21.6742 1.67674 21.5459 1.59081 21.4046 1.53218C21.2633 1.47354 21.1118 1.44336 20.9589 1.44336C20.8059 1.44336 20.6544 1.47354 20.5132 1.53218C20.3719 1.59081 20.2435 1.67674 20.1355 1.78506L10.2339 11.7445L9.4322 15.2184C9.39805 15.3868 9.40164 15.5606 9.44271 15.7275C9.48379 15.8943 9.56133 16.05 9.66975 16.1833C9.77818 16.3166 9.9148 16.4242 10.0698 16.4984C10.2248 16.5725 10.3943 16.6114 10.5661 16.6123C10.6549 16.6221 10.7445 16.6221 10.8333 16.6123L14.3361 15.8395L24.2161 5.86561C24.3244 5.7576 24.4103 5.62927 24.469 5.48799C24.5276 5.34671 24.5578 5.19524 24.5578 5.04228C24.5578 4.88931 24.5276 4.73785 24.469 4.59657C24.4103 4.45528 24.3244 4.32696 24.2161 4.21894ZM13.585 14.5034L10.9416 15.0884L11.5555 12.4667L19.0089 4.96283L21.0455 6.9995L13.585 14.5034ZM21.8616 6.18339L19.825 4.14672L20.9444 3.00561L22.9955 5.05672L21.8616 6.18339Z" />
            </svg>
          a.stock__copy(href="#")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.6 7.79961V2.59961H6.50001L2.60001 6.49961V18.1996H10.4V23.3996H23.4V7.79961H15.6ZM6.50001 4.43781V6.49961H4.43821L6.50001 4.43781ZM3.90001 16.8996V7.79961H7.80001V3.89961H14.3V7.79961L10.4 11.6996V16.8996H3.90001ZM14.3 9.63781V11.6996H12.2382L14.3 9.63781ZM22.1 22.0996H11.7V12.9996H15.6V9.09961H22.1V22.0996Z"/>
            </svg>

          a.stock__delete(href="#")

            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="13" cy="13" r="11.3" fill="white" stroke="#2F2F2F" stroke-width="1.4"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.95063 8.88994C9.65773 8.59705 9.18286 8.59705 8.88997 8.88994C8.59707 9.18284 8.59707 9.65771 8.88997 9.9506L11.9394 13L8.88997 16.0494C8.59707 16.3423 8.59707 16.8172 8.88997 17.1101C9.18286 17.403 9.65773 17.403 9.95063 17.1101L13 14.0607L16.0494 17.1101C16.3423 17.403 16.8172 17.403 17.1101 17.1101C17.403 16.8172 17.403 16.3423 17.1101 16.0494L14.0607 13L17.1101 9.9506C17.403 9.65771 17.403 9.18284 17.1101 8.88994C16.8172 8.59705 16.3423 8.59705 16.0494 8.88994L13 11.9393L9.95063 8.88994Z" />
            </svg>
      .stock__item-body

        .stock__item-content
          span Описание акции
          p Каждый 3 час в подарок Ежедневно!
          p Во всех филиалах


        .stock__item-content      
          span Условия применения
          p Не указано

        
          
    .stock__line

    .stock__item 

    .stock__item-top

      .stock__item-left

        h2.stock__item-title Тариф «Для двоих»

        button.stock__item-btn.stock-enabled(type='button') Активная

      .stock__item-right 

        a.stock__adit(href="#") 
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.2222 21.6673H4.33336V5.77843H13.8811L15.3256 4.33398H4.33336C3.95027 4.33398 3.58287 4.48617 3.31198 4.75705C3.0411 5.02794 2.88892 5.39534 2.88892 5.77843V21.6673C2.88892 22.0504 3.0411 22.4178 3.31198 22.6887C3.58287 22.9596 3.95027 23.1118 4.33336 23.1118H20.2222C20.6053 23.1118 20.9727 22.9596 21.2436 22.6887C21.5145 22.4178 21.6667 22.0504 21.6667 21.6673V10.834L20.2222 12.2784V21.6673Z"/>
            <path d="M24.2161 4.21894L21.7822 1.78506C21.6742 1.67674 21.5459 1.59081 21.4046 1.53218C21.2633 1.47354 21.1118 1.44336 20.9589 1.44336C20.8059 1.44336 20.6544 1.47354 20.5132 1.53218C20.3719 1.59081 20.2435 1.67674 20.1355 1.78506L10.2339 11.7445L9.4322 15.2184C9.39805 15.3868 9.40164 15.5606 9.44271 15.7275C9.48379 15.8943 9.56133 16.05 9.66975 16.1833C9.77818 16.3166 9.9148 16.4242 10.0698 16.4984C10.2248 16.5725 10.3943 16.6114 10.5661 16.6123C10.6549 16.6221 10.7445 16.6221 10.8333 16.6123L14.3361 15.8395L24.2161 5.86561C24.3244 5.7576 24.4103 5.62927 24.469 5.48799C24.5276 5.34671 24.5578 5.19524 24.5578 5.04228C24.5578 4.88931 24.5276 4.73785 24.469 4.59657C24.4103 4.45528 24.3244 4.32696 24.2161 4.21894ZM13.585 14.5034L10.9416 15.0884L11.5555 12.4667L19.0089 4.96283L21.0455 6.9995L13.585 14.5034ZM21.8616 6.18339L19.825 4.14672L20.9444 3.00561L22.9955 5.05672L21.8616 6.18339Z" />
          </svg>
        a.stock__copy(href="#")
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.6 7.79961V2.59961H6.50001L2.60001 6.49961V18.1996H10.4V23.3996H23.4V7.79961H15.6ZM6.50001 4.43781V6.49961H4.43821L6.50001 4.43781ZM3.90001 16.8996V7.79961H7.80001V3.89961H14.3V7.79961L10.4 11.6996V16.8996H3.90001ZM14.3 9.63781V11.6996H12.2382L14.3 9.63781ZM22.1 22.0996H11.7V12.9996H15.6V9.09961H22.1V22.0996Z"/>
          </svg>

        a.stock__delete(href="#")

          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="13" cy="13" r="11.3" fill="white" stroke="#2F2F2F" stroke-width="1.4"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.95063 8.88994C9.65773 8.59705 9.18286 8.59705 8.88997 8.88994C8.59707 9.18284 8.59707 9.65771 8.88997 9.9506L11.9394 13L8.88997 16.0494C8.59707 16.3423 8.59707 16.8172 8.88997 17.1101C9.18286 17.403 9.65773 17.403 9.95063 17.1101L13 14.0607L16.0494 17.1101C16.3423 17.403 16.8172 17.403 17.1101 17.1101C17.403 16.8172 17.403 16.3423 17.1101 16.0494L14.0607 13L17.1101 9.9506C17.403 9.65771 17.403 9.18284 17.1101 8.88994C16.8172 8.59705 16.3423 8.59705 16.0494 8.88994L13 11.9393L9.95063 8.88994Z" />
          </svg>
    .stock__item-body

      .stock__item-content
          span Описание акции
          p Каждый 3 час в подарок Ежедневно!
          p Во всех филиалах

      .stock__item-content      
          span Условия применения
          p Не указано
    
    .stock__line 