main.booking-list
  .booking-list__router
    a.booking-list__router-item(href="") Мой аккаунт 
    .booking-list__arrow
      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.6275 3.75004C7.73954 3.74966 7.85025 3.77439 7.95149 3.82241C8.05272 3.87043 8.14191 3.94052 8.2125 4.02754L11.835 8.52754C11.9453 8.66174 12.0056 8.83007 12.0056 9.00379C12.0056 9.17751 11.9453 9.34584 11.835 9.48004L8.085 13.98C7.95769 14.1332 7.77476 14.2295 7.57644 14.2478C7.37812 14.2661 7.18066 14.2048 7.0275 14.0775C6.87434 13.9502 6.77802 13.7673 6.75973 13.569C6.74145 13.3707 6.80269 13.1732 6.93 13.02L10.2825 9.00004L7.0425 4.98004C6.95079 4.86995 6.89253 4.73589 6.87462 4.59373C6.85671 4.45157 6.8799 4.30725 6.94144 4.17786C7.00298 4.04846 7.1003 3.9394 7.22188 3.86358C7.34347 3.78777 7.48422 3.74836 7.6275 3.75004Z" fill="black"/>
      </svg>

    a.booking-list__router-item(href="") Мои бронирования

  .booking-list__top 
    h1.booking-list__title Мои бронирования

    a.booking-list__button(href="#") Добавить подборку
  
  .booking-list__card-group 
    .booking-list__card
      .booking-list__card-pic 
        img(src="img/other/renct.webp", alt="pic")

      .booking-list__card-content
        h3.booking-list__card-title Отдых с друзьями
        p.booking-list__card-text 7 вариантов
        
    .booking-list__card
      .booking-list__card-pic 
        img(src="img/other/renct.webp", alt="pic")

      .booking-list__card-content
        h3.booking-list__card-title Бани с купелью на улице и бо
        p.booking-list__card-text 5 вариантов
