.register {
  &__modal {
    --bs-modal-width: 540px;
  }

  &__modal-dialog {
    margin-right: auto !important;
    margin-top: 0 !important;
  }

  &__modal-header {
    border-bottom: none;
    padding-top: 15px;
    padding-right: 15px;
  }

  &__modal-body {
    padding: 0;
  }

  .modal {
    --bs-modal-width: 540px !;
  }
}

.form {
  max-width: 350px;
  padding-bottom: 35px;
  margin-left: 95px;
  margin-right: 95px;

  display: flex;
  flex-direction: column;
  color: #2f2f2f;

  @media only screen and (max-width: 570px) {
    padding: 0 5px;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
  }

  &__text-big {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }

  &__text-change {
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #ff8a00;
    }
  }

  &__text-small,
  &__no-sms {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }

  &__no-sms {
    width: max-content;
    height: max-content;
    margin: auto;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #ff8a00;
    }

    &:disabled {
      color: #b3b3b3;
    }
  }

  &__field {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
    }

    input {
      width: 100%;
      height: 36px;
      padding-left: 5px;
      background: #ffffff;
      border: 1px solid #2f2f2f;
      box-sizing: border-box;
      font-size: 16px;

      &::placeholder {
        color: rgb(27, 27, 27);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
      }
    }

    #telReg {
      padding-left: 125px;
      letter-spacing: 8px;

      &::placeholder {
        font-size: 25px;
        padding-left: 2px;
        letter-spacing: 1px;
        color: rgb(27, 27, 27);
      }
    }
  }

  &__phone-field {
    &:invalid {
      border-color: red;
    }
  }

  &__mail-field {
    &:invalid {
      border-color: red;
    }
  }

  &__checkbox-group {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__checkbox-field {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 10px;

    label {
      width: auto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      cursor: pointer;
    }

    input {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      margin-top: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      border: 1px solid #707070;
      border-radius: 2px;
      outline: none;
      transition-duration: 0.3s;
      cursor: pointer;

      &:checked {
        border: 1px solid #ff8a00;
        background-color: #ff8a00;
      }

      &:checked + label::before {
        display: block;
        left: 5px;
        top: 3px;
        font-weight: 700;
        content: '\2713';
        text-align: center;
        color: #ffffff;
        position: absolute;
      }
    }
  }

  &__btn-group {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    background: #ff8a00;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
    border: none;

    &:hover {
      background: #ffab4b;
      color: #fff;
    }

    &:active {
      transform: scale(0.98);
    }

    &:disabled {
      background: #f2f2f2;
      border: 1px solid #b3b3b3;
      color: #b3b3b3;
    }
  }

  &__btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    background: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    border: none;
    color: #2f2f2f;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      background: #ff8a00;
      color: #fff;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &__show-password {
    position: absolute;
    bottom: 7px;
    right: 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    transition: all 0.2s;

    &:hover {
      color: #ff8a00;
    }
  }
}
