main.selection
  .selection__side-bar

    include ../side-bar/side-bar

    span.selection__close &#x2716;
  
  .selection__content

    include ../card-list/card-list

    include ../map/map

  .selection__button Поиск бани

include ../favorites/favorites