main.main
  .main__side-bar

    include ../side-bar/side-bar

    span.main__close &#x2716;
  
  .main__content

    include ../card-list/card-list

    include ../map/map

  .main__button Поиск бани