main.search
  .search__side-bar

    include ../side-bar/side-bar

    span.search__close &#x2716;
  
  .search__content

    include ../card-list/card-list

    include ../map/map

  .search__button Поиск бани