.departments {
  max-width: 1300px;
  flex-grow: 1;
  color: #2f2f2f;
  margin: 50px 16px 279px 300px;
  font-family: "Montserrat";

  @media only screen and (max-width: 1000px) {
    margin: 70px 16px 50px 16px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 550px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: #2f2f2f;
  }
  &__add {
    width: 227px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #2f2f2f;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;

    &:hover {
      color: rgb(255, 255, 255);
      background: #4f4f4f;
      box-shadow: 0px 0px 4px 0px #4f4f4f77;
    }
    &:active {
      transform: scale(0.98);
    }
  }

  &__item-group {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__item {
    width: 100%;
  }

  &__item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item-left {
    display: flex;
    align-items: center;
    gap: 30px;
    @media only screen and (max-width: 550px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #2f2f2f;
  }
  &__item-btn {
    width: 88px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 6px;
    transition: all 0.1s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1);
    }

    &.departments-enabled {
      border-color: #707070;
      background: #707070;
      color: #ffffff;
    }
  }

  &__item-right {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      fill: black;
      transition: all 0.2s ease-in-out;
      circle {
        transition: all 0.2s ease-in-out;
        stroke: black;
      }
    }

    a {
      &:hover svg {
        fill: #ff8a00;
        circle {
          stroke: #ff8a00;
        }
      }
    }
  }

  &__item-body {
    margin-top: 25px;
    display: flex;
    gap: 125px;
    @media only screen and (max-width: 1400px) {
      gap: 25px;
    }

    @media only screen and (max-width: 800px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item-text {
    max-width: 350px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item-content {
    max-width: 350px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media only screen and (max-width: 1100px) {
      max-width: 250px;
    }

    @media only screen and (max-width: 800px) {
      max-width: 100%;
    }

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: #707070;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: #2f2f2f;
    }
  }

  &__item-gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    img {
      display: block;
      width: 70px;
      height: 70px;
      object-fit: contain;
      background: #c4c4c4;
      border-radius: 4px;
    }
  }

  &__line {
    margin-top: 15px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #b3b3b3;
  }
}
