.booking 

  .booking__inner

    .booking__left
      .booking__title
        h4 Сруб «Гусарский»
        p Оболонский р-н, ул. Волинська 10

      .booking__explanation
        p Min заказ - от 3 часов
        p Max вместимость - 8+2 чел
        p Цена указана за час

    
    .booking__right

      .booking__button-group        

        .booking__btn-hour
          button(type='button') 01:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 02:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 03:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 04:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 05:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 06:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 07:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 08:00
          p 1 500 грн.        

        .booking__btn-hour
          button(type='button') 09:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 10:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 11:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 12:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 13:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 14:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button' disabled) 15:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button' disabled) 16:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button' disabled) 17:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 18:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 19:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 20:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button') 21:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button' disabled) 22:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button' disabled) 23:00
          p 1 500 грн.

        .booking__btn-hour
          button(type='button' disabled) 00:00
          p 1 500 грн.

      .booking__calculation

        .booking__data-picker

          p Человек

          .booking__picker
            button(type='button').booking__picker-minus &#8722;
            span.booking__picker-result 0
            button(type='button').booking__picker-plus &#43;

        .booking__summary

          .booking__summary-data  

            p.booking__summary-people 8 человек 
            span ,
            p.booking__summary-time с 18:00 -22:00

          
          .booking__summary-amount  
            p Сумма:
            .booking__summary-price 6 000 
            p грн.
          button(type='button').booking__summary-btn Бронировать