.policy-pay
  h4.policy-pay__title Правила отмены бронирования

  .policy-pay__text 
    p Здесь должны быть описаны правила отмены бронирования, установленные этим сервисом + 

      a(href="#") ссылка на страницу с описанием полных правил бронирования 

  a.policy-pay__button(href="payment.html") Оплатить заказ