mixin day(date,day,month)
  .schedule-price__day(data-month = month)
    .schedule-price__day-top      
      .schedule-price__checkbox-item.schedule-price__checkbox-day
        input(type="checkbox",name=date id=date)
        label(for=date)=date
      span=day
    
    .schedule-price__day-content
      .schedule-price__day-item
        p.schedule-price__day-hour 00:00 - 01:00
        p.schedule-price__day-hour 01:00 - 02:00
        p.schedule-price__day-hour 03:00 - 04:00
        p.schedule-price__day-hour 05:00 - 06:00
        p.schedule-price__day-hour 07:00 - 08:00
        p.schedule-price__day-hour 09:00 - 10:00
        p.schedule-price__day-hour 11:00 - 12:00
        p.schedule-price__day-hour 13:00 - 14:00
        p.schedule-price__day-hour 15:00 - 16:00
        p.schedule-price__day-hour 17:00 - 18:00
        p.schedule-price__day-hour 19:00 - 20:00
        p.schedule-price__day-hour 21:00 - 22:00
        p.schedule-price__day-hour 23:00 - 24:00        

      .schedule-price__day-item
        p.schedule-price__day-price 1 100 (+200) грн.
        p.schedule-price__day-price 1 100 (+200) грн.
        p.schedule-price__day-price 1 100 (+200) грн.
        p.schedule-price__day-price 1 100 (+200) грн.        
        p.schedule-price__day-price 1 100 (+200) грн.        
        p.schedule-price__day-price 1 100 (+200) грн.        
        p.schedule-price__day-price 1 100 (+200) грн.        
        p.schedule-price__day-price 1 100 (+200) грн.        
        p.schedule-price__day-price 1 100 (+200) грн.        
        p.schedule-price__day-price 1 100 (+200) грн.        
        p.schedule-price__day-price 1 100 (+200) грн.        
        p.schedule-price__day-price 1 100 (+200) грн.        
        p.schedule-price__day-price 1 100 (+200) грн.

.schedule-price
    .schedule-price__top
      h1.schedule-price__title Изменение / Удаление цен      
      .schedule-price__btn-group 
        a.schedule-price__btn(href="#") Изменение цен
        a.schedule-price__btn(href="schedule-add.html") Расписание 
          span +
    .schedule-price__field
      p Филиал
      button.schedule-price__dropdown-button( id="dropdown-item" type='button' onclick="this.classList.toggle('dropdown-opened')")
        p.schedule-price__dropdown-txt Баня Емеля (сруб Дубовый)

        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.175 7.1582L10 10.9749L13.825 7.1582L15 8.3332L10 13.3332L5 8.3332L6.175 7.1582Z" fill="#2F2F2F"/>
        </svg>
            
        .schedule-price__dropdown-menu(id="menu-sauna")
          span.schedule-price__dropdown-item(data-sauna="some-sauna") Баня Емеля (сруб Дубовый)-1
          span.schedule-price__dropdown-item(data-sauna="some-sauna") Баня Емеля (сруб Дубовый)-2
          span.schedule-price__dropdown-item(data-sauna="some-sauna") Баня Емеля (сруб Дубовый)-3
          span.schedule-price__dropdown-item(data-sauna="some-sauna") Баня Емеля (сруб Дубовый)-4
          span.schedule-price__dropdown-item(data-sauna="some-sauna") Баня Емеля (сруб Дубовый)-5
          span.schedule-price__dropdown-item(data-sauna="some-sauna") Баня Емеля (сруб Дубовый)-6
          span.schedule-price__dropdown-item(data-sauna="some-sauna") Баня Емеля (сруб Дубовый)-7
          span.schedule-price__dropdown-item(data-sauna="some-sauna") Баня Емеля (сруб Дубовый)-8
          span.schedule-price__dropdown-item(data-sauna="some-sauna") Баня Емеля (сруб Дубовый)-9
          span.schedule-price__dropdown-item(data-sauna="some-sauna") Баня Емеля (сруб Дубовый)-10

    .schedule-price__text-content Отметьте галочками дни и время, к которым будет применяться данная стоимость услуги.
        | Если на определенную дату/время уже существует бронирование, то стоимость услуги не подлежит коррекции.

    .schedule-price__panel
      .schedule-price__checkbox-item 
            input(type="checkbox", id="all"  name="all")
            label(for="all") Назначить на все записи

      .schedule-price__nav
        a.schedule-price__nav-arrow(href="#")        
          <svg  viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.4401 25.3324C18.2409 25.3331 18.0441 25.2891 17.8641 25.2037C17.6841 25.1184 17.5255 24.9938 17.4001 24.8391L10.9601 16.8391C10.7639 16.6005 10.6567 16.3012 10.6567 15.9924C10.6567 15.6836 10.7639 15.3843 10.9601 15.1457L17.6267 7.14573C17.853 6.87344 18.1783 6.70221 18.5308 6.6697C18.8834 6.6372 19.2344 6.74608 19.5067 6.9724C19.779 7.19872 19.9502 7.52393 19.9828 7.8765C20.0153 8.22907 19.9064 8.58011 19.6801 8.8524L13.7201 15.9991L19.4801 23.1457C19.6431 23.3414 19.7467 23.5798 19.7785 23.8325C19.8103 24.0852 19.7691 24.3418 19.6597 24.5718C19.5503 24.8019 19.3773 24.9958 19.1612 25.1305C18.945 25.2653 18.6948 25.3354 18.4401 25.3324Z"/>
          </svg>
        p.schedule-price__nav-text(data-month = 6) Июнь 2021
        a.schedule-price__nav-arrow(href="#")  
          <svg  viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.5599 25.3324C13.7591 25.3331 13.9559 25.2891 14.1359 25.2037C14.3159 25.1184 14.4745 24.9938 14.5999 24.8391L21.0399 16.8391C21.2361 16.6005 21.3433 16.3012 21.3433 15.9924C21.3433 15.6836 21.2361 15.3843 21.0399 15.1457L14.3733 7.14573C14.147 6.87344 13.8217 6.70221 13.4692 6.6697C13.1166 6.6372 12.7656 6.74608 12.4933 6.9724C12.221 7.19872 12.0498 7.52393 12.0172 7.8765C11.9847 8.22907 12.0936 8.58011 12.3199 8.8524L18.2799 15.9991L12.5199 23.1457C12.3569 23.3414 12.2533 23.5798 12.2215 23.8325C12.1897 24.0852 12.2309 24.3418 12.3403 24.5718C12.4497 24.8019 12.6227 24.9958 12.8388 25.1305C13.055 25.2653 13.3052 25.3354 13.5599 25.3324Z"/>
          </svg>

    .schedule-price__calendar
      .schedule-price__calendar-top
        p Понедельник
        p Вторник
        p Среда
        p Четверг
        p Пятница
        p Суббота
        p Воскресенье

      .schedule-price__calendar-content

        +day('29.05','Понедельник',05)
        +day('30.05','Вторник',05)
        +day('1.06','Среда',06)
        +day('2.06','Четверг',06)
        +day('3.06','Пятница',06)
        +day('4.06','Суббота',06)
        +day('5.06','Воскресенье',06)

        +day('6.06','Понедельник',06)
        +day('7.06','Среда',06)
        +day('8.06','Четверг',06)
        +day('9.06','Пятница',06)
        +day('10.06','Суббота',06)
        +day('11.06','Воскресенье',06)
        +day('12.06','Вторник',06)

        +day('13.06','Понедельник',06)
        +day('14.06','Вторник',06)
        +day('15.06','Среда',06)
        +day('16.06','Четверг',06)
        +day('17.06','Пятница',06)
        +day('18.06','Суббота',06)
        +day('19.06','Воскресенье',06)

        +day('20.06','Понедельник',06)
        +day('21.06','Вторник',06)
        +day('22.06','Среда',06)
        +day('23.06','Четверг',06)
        +day('24.06','Пятница',06)
        +day('25.06','Суббота',06)
        +day('26.06','Воскресенье',06)

        +day('27.06','Понедельник',06)
        +day('28.06','Вторник',06)
        +day('29.06','Среда',06)
        +day('30.06','Четверг',06)
        +day('31.06','Пятница',06)

        .schedule-price__day
          .schedule-price__day-top
            p 11.12
          .schedule-price__day-content
            .schedule-price__day-add
              p Расписание <br> не задано
              a(href="#") Добавить 

        .schedule-price__day
          .schedule-price__day-top
            p 11.12
          .schedule-price__day-content
            .schedule-price__day-add
              p Расписание <br> не задано
              a(href="#") Добавить 