.schedule-price {
  max-width: 1585px;
  flex-grow: 1;
  color: #2f2f2f;
  margin: 50px 16px 279px 300px;
  font-family: 'Montserrat';

  @media only screen and (max-width: 1000px) {
    margin: 70px 16px 50px 16px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 450px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: #2f2f2f;
  }

  &__btn-group {
    display: flex;
    gap: 20px;
    align-items: center;

    @media only screen and (max-width: 650px) {
      flex-direction: column;
    }
  }

  &__btn {
    width: 196px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
    background: #707070;
    transition: all 0.2s ease-in-out;

    span {
      margin-left: 10px;
      font-size: 30px;
      font-weight: 400;
    }

    &:hover {
      background: #2f2f2f;
      color: #ffffff;
    }
  }

  &__field {
    margin-top: 40px;
    position: relative;
    max-width: 530px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 7px;

    @media only screen and (max-width: 1240px) {
      max-width: 100%;
      width: 100%;
    }

    label,
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #282828;
    }
    input {
      width: auto;
      height: 35px;
      padding-left: 16px;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #2f2f2f;
      border: 1px solid #2f2f2f;
      transition: all 0.2s ease-in-out;

      &:focus {
        box-shadow: 0px 0px 5px 1px rgba(255, 136, 0, 0.25);
        border: 1px solid #ff8a00;
      }

      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #2f2f2f;
      }
    }
  }

  &__dropdown-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    background: #f2f2f2;
    border: 1px solid #b3b3b3;
    transition: all 0.2s;

    &.dropdown-opened {
      border: none;
      border-radius: 10px 10px 0px 0px;
      box-shadow: 0px -2px 10px -3px rgba(0, 0, 0, 0.25);
      .schedule-price__dropdown-menu {
        box-shadow: 0 0 5px #333;
        transition: all 0.2s ease-in-out;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.25);
        overflow-y: scroll;
        height: 200px;
        opacity: 1;
      }
    }
  }

  &__dropdown-txt {
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2f2f2f;
  }

  &__dropdown-menu {
    width: 100%;
    height: 0;
    position: absolute;
    top: 80px;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 200;

    span {
      width: 100%;
      padding: 5px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #2f2f2f;
      background-color: #fff;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: #ff8a00;
        color: #fff;
      }
    }
  }

  &__text-content {
    margin-top: 40px;
    max-width: 810px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
  }

  &__panel {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__checkbox-item {
    position: relative;
    display: flex;
    height: max-content;
    align-items: center;
    gap: 15px;
    transition: all 0.2s;

    label {
      font-weight: 500;
      font-size: 14px;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        color: #ff8a00;
      }
    }

    input {
      width: 18px;
      height: 18px;
      margin-top: 0;
      appearance: none;
      border: 1px solid #707070;
      border-radius: 2px;
      outline: none;
      transition-duration: 0.3s;
      font-size: 14px;
      cursor: pointer;

      &:checked {
        border: 1px solid #ff8a00;
        background-color: #ff8a00;
        font-size: 14px;
      }

      &:checked + label::before {
        display: block;
        left: 4px;
        top: 2px;
        font-weight: 500;
        content: '\2713';
        text-align: center;
        color: #ffffff;
        position: absolute;
        font-size: 14px;
      }
    }
  }

  &__checkbox-day {
    position: relative;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;

    label {
      font-weight: 500;
      font-size: 14px;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        color: #2e7d32;
      }
    }
    input {
      width: 18px;
      height: 18px;
      margin-top: 0;
      appearance: none;
      border: 1px solid #707070;
      border-radius: 2px;
      outline: none;
      transition-duration: 0.3s;
      font-size: 14px;
      cursor: pointer;

      &:checked {
        border: 1px solid #2f2f2f;
        background-color: rgba(255, 255, 255, 0);
        font-size: 14px;
      }

      &:checked + label::after {
        position: absolute;
        display: block;
        right: 4px;
        top: 2px;
        font-weight: 700;
        content: '\2713';
        text-align: center;
        color: #2e7d32;
        position: absolute;
        font-size: 14px;
      }
      &:checked + label::before {
        display: none;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    text-decoration: none;

    svg {
      width: 32px;
      height: 32px;
      fill: #000000;
      transition: all 0.2s ease-in-out;
    }

    &:hover svg {
      fill: #ff8a00;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &__nav-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
  }
  &__calendar {
    margin-top: 38px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    padding: 10px 7px;
    @media only screen and (max-width: 1899px) {
      margin-top: 18px;
      border: none;
    }
  }

  &__calendar-top {
    display: flex;

    @media only screen and (max-width: 1899px) {
      display: none;
    }

    p {
      flex-grow: 1;
      max-width: 222px;
      text-align: center;
    }
  }

  &__calendar-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    width: 100%;

    @media only screen and (max-width: 1899px) {
      justify-content: flex-start;
    }
    @media only screen and (max-width: 730px) {
      justify-content: center;
      gap: 10px;
    }
  }

  &__day {
    max-width: 224px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #b3b3b37c;
    white-space: nowrap;
    overflow: hidden;
    @media only screen and (max-width: 1899px) {
      max-width: 230px;
    }
  }

  &__day-top {
    display: flex;
    padding: 0 4px;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    height: 30px;
    background: #f2f2f2;

    p,
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: #2f2f2f;
    }
    span {
      @media only screen and (min-width: 1900px) {
        display: none;
      }
    }
  }
  &__day-content {
    padding: 15px 0 24px 4px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    @media only screen and (max-width: 1899px) {
      padding: 15px 4px 24px 4px;
    }
  }

  &__day-item {
    display: flex;
    flex-direction: column;
    gap: 11px;

    p {
      font-weight: 400;
      font-size: 13px;
      line-height: 120%;
      color: #2f2f2f;
    }
  }

  &__day-add {
    display: flex;
    flex-direction: column;
    gap: 25px;

    p {
      text-align: center;
      font-weight: 400;
      font-size: 13px;
      line-height: 120%;
      color: black;
    }

    a {
      width: 112px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #2f2f2f;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      text-decoration: none;
      color: #fff;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #595959;
        color: #fff;
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }
}
