.subscription {
  margin-top: 135px;
  background: #f0f4f8;
  color: #2f2f2f;
  @media only screen and (max-width: 1150px) {
    margin-top: 70px;
  }

  &__inner {
    padding-top: 30px;
    position: relative;
    max-width: 1392px;
    height: 290px;
    margin: auto;
    box-sizing: border-box;
    @media only screen and (max-width: 1480px) {
      padding-left: 16px;
      padding-right: 16px;
    }

    @media only screen and (max-width: 1150px) {
      max-width: 730px;
      height: 310px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 130%;
    @media only screen and (max-width: 1150px) {
      font-size: 32px;
    }
  }

  &__text {
    margin-top: 30px;
    max-width: 539px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;

    @media only screen and (max-width: 1150px) {
      max-width: 294px;
    }
  }
  &__btn {
    margin-top: 53px;
    width: 206px;
    height: 48px;
    border-radius: 6px;
    background: #ff8a00;
    border: none;
    font-weight: 700;
    font-size: 16px;
    font-family: "Montserrat";
    line-height: 150%;
    color: #ffffff;
  }

  &__image {
    position: absolute;
    top: -35px;
    right: -90px;
    @media only screen and (max-width: 1150px) {
      max-width: 406px;
    }
  }
}
