section.subscription

  .subscription__inner

    h2.subscription__title Баня со скидкой!

    p.subscription__text Подпишитесь на наши рассылки, чтобы быть в курсе действующих акций и скидок

    button.subscription__btn(type="button") Подписаться

    img.subscription__image(src="img/png/subscription.png", alt="subscription.png")