section.advantage

  .advantage__inner 

    .advantage__item

      img.advantage__icon(src="../../../img/advantage/sauna.svg", alt="sauna")

      .advantage__text
        p.advantage__text-big Более 300 бань и саун Киева

        p.advantage__text-small Самый полный каталог: бани, сайны, бассейны, домики с парной
    
    .advantage__item

      img.advantage__icon(src="../../../img/advantage/discount.svg", alt="discount")

      .advantage__text
        p.advantage__text-big Актуальные акции и спецпредложения

        p.advantage__text-small Самый полный каталог: бани, сайны, бассейны, домики с парной

    .advantage__item

      img(src="../../../img/advantage/review.svg", alt="review")

      .advantage__text
        p.advantage__text-big 2 500 оценок и отзывов от клиентов

        p.advantage__text-small Самый полный каталог: бани, сайны, бассейны, домики с парной
