.gallery {
  position: relative;
  width: 100%;
  display: flex;
  gap: 8px;
  @media only screen and (max-width: 1200px) {
    flex-direction: column-reverse;
  }
  &__left {
    max-width: 753px;
    position: relative;
    @media only screen and (max-width: 1200px) {
      max-width: 100%;
    }
    img {
      display: block;
      width: 100%;
      height: 465px;
      object-fit: contain;
      @media only screen and (max-width: 1200px) {
        height: 300px;
      }
      @media only screen and (max-width: 630px) {
        object-fit: cover;
      }
    }
  }
  &__btn {
    position: absolute;
    bottom: 21px;
    left: 21px;
    width: 97px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #2f2f2f;
    transition: all 0.2s;
    @media only screen and (max-width: 1200px) {
      bottom: 21px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &:hover {
      color: #ffffff;
      background-color: #ff8a00;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media only screen and (max-width: 1200px) {
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }

    img {
      display: block;
      max-width: 347px;
      height: 228px;
      object-fit: contain;

      @media only screen and (max-width: 1200px) {
        width: auto;
      }
      @media only screen and (max-width: 800px) {
        max-width: 300px;
        height: auto;
      }
      @media only screen and (max-width: 630px) {
        display: none;
      }
    }
  }
  &__modal {
    .modal-dialog {
      position: fixed !important;
      top: 0 !important;
      left: 0 !important;
      z-index: 999 !important;
    }

    .modal-content {
      width: 100vw;
      height: 100vh;
      background-color: black;
      border: none;
      border-radius: 0;

      .btn-close {
        position: absolute;
        top: 20px;
        right: 20px;
        box-sizing: content-box;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: none;
        border: 0;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        opacity: 1;
        transition: all 0.2s;
        z-index: 999;

        svg {
          transition: all 0.2s;
          fill: #000;
        }

        &:hover svg {
          fill: #ffffff;
        }

        &:hover {
          background-color: #ff8a00;
        }
      }

      .carousel-inner {
        max-width: 1108px;
        height: auto;
        margin: 20px auto 0 auto;
      }
    }
  }

  &__slider-text {
    text-align: center;
    padding-bottom: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #ffffff;
    @media only screen and (max-width: 435px) {
      text-align: left;
      font-size: 14px;
    }
  }

  &__slider-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50%;
  }
}
