.gallery 

  .gallery__left
    img(src="img/SAUNA/pic/left.webp", alt="sauna")

    button.gallery__btn(data-bs-toggle="modal" data-bs-target="#modalGallery") Все фото

  .gallery__right 
    img(src="img/SAUNA/pic/top.webp", alt="sauna")

    img(src="img/SAUNA/pic/bottom.webp", alt="sauna")

.gallery__modal

  #modalGallery.modal.fade(tabindex='-1' aria-labelledby='modalGalleryLabel' aria-hidden='true')
    .modal-dialog
      .modal-content   ssssssssssss   
      
