.search-card
  .search-card__inner

    .search-card__left-side
        img.search-card__img(src="img/SEARCH/side-bar/pic.webp" alt="pic")
        a.search-card__like(href="#", title="like")
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.2469 4.98458L12 5.84661L12.7531 4.98458C13.4773 4.15564 14.1391 3.50737 14.9304 3.05493C15.7031 2.61311 16.6562 2.32666 18 2.32666C19.2749 2.32666 20.4821 2.74653 21.3816 3.74629C22.29 4.7559 23 6.48565 23 9.32822C23 10.5395 22.3716 12.5828 20.575 14.9784C18.8615 17.2633 16.1221 19.8156 12 22.1814C7.87792 19.8156 5.1385 17.2633 3.42502 14.9784C1.62844 12.5828 1 10.5395 1 9.32822C1 6.48565 1.71004 4.7559 2.6184 3.74629C3.5179 2.74653 4.72512 2.32666 6 2.32666C7.34378 2.32666 8.29694 2.61311 9.06964 3.05493C9.86093 3.50737 10.5227 4.15564 11.2469 4.98458Z" stroke-width="2"/>
          </svg>

    .search-card__right-side

      .search-card__top

        .search-card__title Сауна Аквамарин

        .search-card__btn-group 
          button.search-card__left-btn(type="button")
            <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.00014 1L5.72514 5.61L0.640137 6.345L4.32014 9.935L3.45014 15L8.00014 12.61L12.5501 15L11.6801 9.935L15.3601 6.35L10.2751 5.61L8.00014 1Z" />
            </svg>
            p 4.5

          button.search-card__right-btn(type="button") от 1 000 грн.

      .search-card__middle

        .search-card__icon-group

          .search-card__icon 
            img(src="img/SEARCH/card-list/location.svg", alt="location")
            p.search-card__text Оболонский район

          .search-card__icon 
            img(src="img/SEARCH/card-list/address.svg", alt="address")
            p.search-card__text ул. Волинська 10

          .search-card__icon 
            img(src="img/SEARCH/card-list/square.svg", alt="square")
            p.search-card__text 6 залов

        .search-card__icon-group
          .search-card__icon 
            img(src="img/SEARCH/card-list/people.svg", alt="people")
            p.search-card__text 10-15 человек
          
          .search-card__icon 
            img(src="img/SEARCH/card-list/heating.svg", alt="heating")
            p.search-card__text Турецкая, Хамам, Финская,С веником

        span.search-card__line-middle

      .search-card__bottom

        p.search-card__text бассейн, зона отдыха с большим столом, ТВ, бар, теплый пол, аудио-видео аппаратура, мангал, мангальная зона

        .search-card__btn
          p от 1 500 грн./час
          a(href="sauna.html") Подробнее

  span.search-card__line-bottom