.small-card 

  .small-card__top
    h3 Сруб «Гусарский»

  .small-card__preview
    
    .small-card__gallery
      include ../../../components/SAUNA/gallery-small/gallery-small


    .small-card__mini-card

      include ../../../components/SAUNA/mini-card/mini-card

  .small-card__description 

      h3.small-card__sub-title Описание сауны

      .small-card__text-group
        p Сауна «Аквамарин» рад пригласить в гости всех ценителей настоящего банного отдыха. Здесь вы сможете попариться и повеселиться в стильной обстановке и оценить высокое качество предоставляемый услуг.

        p Всем известно, что парение в настоящей финской сауне или русской бане приносит не только пользу для здоровья и омоложение телу, но и смывает стресс и негативные эмоции. Закрепить положительный эффект сауны вы можете, окунувшись в большой бассейн с прохладной водой.

        p После всех процедур вы можете расположиться в гостиной, посмотреть спутниковые каналы и DVD, включить караоке, насладиться кальяном и даже сыграть партию в бильярд.


      span.small-card__btn-capacity(data-open="false")
        p Узнать больше
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"   xmlns="http://www.w3.org/2000/svg">
          <path d="M13.825 6.66663L10 10.4833L6.175 6.66663L5 7.84163L10 12.8416L15 7.84163L13.825 6.66663Z"/>
        </svg>

    span.small-card__line