.popular {
  max-width: 1490px;
  margin: 117px auto 0 auto;
  color: #2f2f2f;
  @media only screen and (max-width: 1150px) {
    margin-top: 77px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
  }

  &__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #2f2f2f;
    text-decoration: none;
    @media only screen and (max-width: 761px) {
      display: none;
    }
  }

  &__link-350 {
    display: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #2f2f2f;
    text-decoration: none;
    @media only screen and (max-width: 761px) {
      margin-top: 33px;
      display: block;
    }
  }

  &__card-list {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
