section.popular
  
  .popular__top
    h2.popular__title Популярные

    a.popular__link(href="#") Все варианты 

  .popular__card-list

    include ../../components/card-item/card-item
    include ../../components/card-item/card-item
    include ../../components/card-item/card-item
    include ../../components/card-item/card-item

  a.popular__link-350(href="#") Все варианты

  .popular__slider

    include ../../components/slider/slider

    +slider-popular()