section.popular
  
  .popular__top
    h2.popular__title Популярные

    a.popular__link(href="#") Все варианты 

  .popular__card-list

    .card-item
      img.card-item__img(src="img/png/pic-1.png" alt="pic")
      a.card-item__like(href="#", title="like")
        img(src="img/card/like.svg" alt="like")

      .card-item__content
        h4.card-item__title Сауна Аквамарин

        .card-item__address
          p ул. Волинська 10
          p Оболонский район

        .card-item__btn-group 
          button.card-item__left-btn(type="button")
            img(src="img/card/star.svg" alt="star")
            p 4.5

          button.card-item__right-btn(type="button") от 1 000 грн.


    .card-item
      img.card-item__img(src="img/png/pic-2.png" alt="pic")
      a.card-item__like(href="#", title="like")
        img(src="img/card/like.svg" alt="like")

      .card-item__content
        h4.card-item__title Сауна Аквамарин

        .card-item__address
          p ул. Волинська 10
          p Оболонский район

        .card-item__btn-group 
          button.card-item__left-btn(type="button")
            img(src="img/card/star.svg" alt="star")
            p 4.5

          button.card-item__right-btn(type="button") от 1 000 грн.


    .card-item
      img.card-item__img(src="img/png/pic-3.png" alt="pic")
      a.card-item__like(href="#", title="like")
        img(src="img/card/like.svg" alt="like")

      .card-item__content
        h4.card-item__title Сауна Аквамарин

        .card-item__address
          p ул. Волинська 10
          p Оболонский район

        .card-item__btn-group 
          button.card-item__left-btn(type="button")
            img(src="img/card/star.svg" alt="star")
            p 4.5

          button.card-item__right-btn(type="button") от 1 000 грн.


    .card-item
      img.card-item__img(src="img/png/pic-4.png" alt="pic")
      a.card-item__like(href="#", title="like")
        img(src="img/card/like.svg" alt="like")

      .card-item__content
        h4.card-item__title Сауна Аквамарин

        .card-item__address
          p ул. Волинська 10
          p Оболонский район

        .card-item__btn-group 
          button.card-item__left-btn(type="button")
            img(src="img/card/star.svg" alt="star")
            p 4.5

          button.card-item__right-btn(type="button") от 1 000 грн.