footer.footer

  .footer__inner

    .footer__block-navigation

      .footer__item-nav

        h4.footer__text Идеи для отдыха

        a.footer__link(href="#") Для большой компании
        a.footer__link(href="#") Семейный отдых
        a.footer__link(href="#") Для двоих
        a.footer__link(href="#") Баня с купелью на улице
        a.footer__link(href="#") Баня за городом
        a.footer__link(href="#") Бани и сауны в центре
        a.footer__link(href="#") СПА и процедуры

      .footer__item-nav

        h4.footer__text Расположение

        a.footer__link(href="#") Бани Оболонского района
        a.footer__link(href="#") Бани Деснянского района
        a.footer__link(href="#") Бани Шевченковского района
        a.footer__link(href="#") Бани Харьковского района
        a.footer__link(href="#") Бани Соломенского района
        a.footer__link(href="#") Бани Днепровского района

      .footer__item-nav

        h4.footer__text Пользователям

        a.footer__link(href="#") О проекте
        a.footer__link(href="#") Правила и условия бронирования
        a.footer__link(href="#") Пользовательское соглашение
        a.footer__link(href="#") Положение о конфиденциальности и cookie
        a.footer__link(href="#") Вопрос-Ответ
        a.footer__link(href="#") Для партнеров
        a.footer__link(href="#") Контакты

    button.footer__btn Добавить баню