main.main
  .main__panel    
    include ../search-panel/search-panel

  .popular  
    .popular__top
      h2.popular__title Популярные

    .popular__card-list

      include ../card-item/card-item
      include ../card-item/card-item
      include ../card-item/card-item
      include ../card-item/card-item